[2017-03-17 06:17] jonathanolson opened #1 "Automated testing failure"
Lint issues:
[code]

[2017-03-17 15:32] jessegreenberg commented on #1
@mbarlow12 can you take a look at this?  I think these things were included yesterday, maybe it just wasn't committed?

[2017-03-17 15:40] mbarlow12 commented on #1
I saw that this AM. Made changes and ran the linter. It completed cleanly,
so I think it should be ok now. I pushed it as well. Let me know if I
missed something with it.

-Michael

On Mar 17, 2017 9:32 AM, "Jesse Greenberg" <notifications@github.com> wrote:

[2017-03-17 15:47] jessegreenberg commented on #1
This issue is still present in master, could you try to push again?

[2017-03-17 16:00] mbarlow12 commented on #1
Rewrote the commit from this morning to reference the issue.  I think that should do it.

[2017-03-17 16:37] jessegreenberg commented on #1
Looks good, thanks! But getting a new errror:

[code]

It looks like Charge.js wasn't checked in.

[2017-03-21 21:52] #1 closed, assigned to mbarlow12

[2017-03-21 22:34] mbarlow12 opened #2 "Coulombs Law Images"
@arouinfar No rush on this item at all yet. We're looking for the pushing counterparts to add to the existing list of puller images. Let @jessegreenberg or me know if you have any issues. Thanks!

[2017-03-21 22:48] arouinfar commented on #2
@mbarlow12 @jessegreenberg we can use the pushers from FAMB.

[2017-03-21 22:56] jessegreenberg commented on #2
@arouinfar I would recommend a new set of images if possible.  The pushers in FAMB have a different color and shading than the pushers in GFL, moving from pushing to pulling in coulombs-law with the different types of pushers might look strange.

[2017-03-21 23:01] arouinfar commented on #2
Excellent point @jessegreenberg. However, I think the pushers in FAMB are a bit newer and more in line with our modern aesthetic. I would recommend updating the GFL-pullers to match the style of the FAMB-pushers, instead. The updated pullers would then propagate to all inverse-square-law sims.

I'll work with our graphic artist to create updated assets.

[2017-03-21 23:14] jessegreenberg commented on #2
Sounds great @arouinfar, thanks!  For the smooth animation, FAMB uses 30 images for the pusher, currently 15 images are used for the GFL pullers.

[2017-03-21 23:15] arouinfar commented on #2
Good to know @jessegreenberg!

[2017-03-24 16:10] phet-steele opened #3 "TypeError: this.forceToArrowMinWidthFunction is not a function"
[code]

[2017-03-24 16:12] phet-steele opened #4 "Apply the standard label set"
If you would please, @mattpen.

[2017-03-24 16:34] jessegreenberg commented on #3
According to the commit history, this one is likely on me, assigning to myself as well.

[2017-03-24 16:41] jessegreenberg commented on #3
Fixed via https://github.com/phetsims/inverse-square-law-common/commit/36a40ecce8d177cd374be78dfa2d19f630a99ff7, closing. @mbarlow12 if you have any progress in a branch, you might need to pull in this commit.

[2017-03-24 16:41] #3 closed, assigned to mbarlow12, jessegreenberg

[2017-03-27 17:58] #4 closed, assigned to mattpen

[2017-04-04 19:40] phet-steele opened #5 "Sim is vulnerable to xss"
Run the sim with `?stringTest=xss` to be redirected. Running on current master (4/4 1:30 PM).

[2017-04-04 19:44] jessegreenberg commented on #5
@phet-steele any other sims exhibiting this?

Also, this was found with automated testing?

[2017-04-04 19:46] phet-steele commented on #5
Double yes.

[2017-04-04 20:05] jessegreenberg commented on #5
Possibly a vulnerability with HTMLText? @phet-steele said that gene-expression-basics also had this issue does it use HTMLText?

[2017-04-04 20:14] mbarlow12 commented on #5
Maybe, but I'm pretty confused as to how it's achieving the redirect. Do we
have any info on the vulnerability?

On Apr 4, 2017 2:05 PM, "Jesse Greenberg" <notifications@github.com> wrote:

[2017-04-04 20:51] jessegreenberg commented on #5
@mbarlow12 we are hitting this from a new automated test which can be run with query parameter `?stringTest=xss`.  If you are curious about additional details, they can be found in chipper/initialize-globals.js.

[2017-04-05 23:07] jonathanolson commented on #5
Fixed with RichText in commit above.

[2017-04-05 23:07] #5 closed, assigned to mbarlow12, jessegreenberg

[2017-04-13 15:38] jessegreenberg opened #6 "Build error"
[code]

Sorroy @mbarlow12, when we added the mockup image slider we forgot to add an entry in license.json, we can do that today.

[2017-04-13 15:55] jessegreenberg commented on #6
Actually, I went ahead and added the license entry so that a built version could be made this morning, but @mbarlow12 could you review the commit?

[2017-04-18 20:26] jessegreenberg commented on #6
We reviewed last week, closing.

[2017-04-18 20:26] #6 closed, assigned to mbarlow12

[2017-04-19 04:42] ariel-phet commented on #2
@arouinfar would probably be good to get Cheryl involved at this point and also get some mockups of pullers built of atoms and the "hair standing on end" idea

[2017-04-19 04:43] ariel-phet opened #7 "Coulomb's Law Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 02/22/2017)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Sim suggestions doc reviewed**
- [x] **Learning goals and standards identified** (Date: 02/23/2017)
- [x] **Design concept comple

[2017-04-26 21:33] jessegreenberg opened #8 "Dynamic thumb color"
In the design document, a thumb color that changes with slider value was requested.  @arouinfar should the thumb color have the same color as the mass or just swap from dark red to dark blue?

[2017-04-27 19:06] arouinfar commented on #8
Great question @jessegreenberg. I don't think the slider thumb needs to match the exact color of the charge, as it may potentially be a bit too distracting. Three slider thumb colors (blue for negative, gray for zero, red for positive) should be sufficient. The color change may still catch a student's attention, but it would happen at a pedagogically useful time (when the force changes direction o

[2017-04-27 23:29] jessegreenberg commented on #8
Sounds good @arouinfar, thanks! Assigning to @mbarlow12, we will work on this.

[2017-04-29 18:26] ariel-phet opened #9 "Sim title should be "Coulomb's Law" (with the apostrophe)"
The title in the sim is currently "Coulombs Law" this should be fixed so that it is "Coulomb's Law". This correction should also be made to the github readme file.

[2017-05-04 18:56] arouinfar commented on #2
Artwork is being tracked in https://github.com/phetsims/tasks/issues/834. Unassigning myself for now.

[2017-05-19 17:06] jessegreenberg commented on #8
The HSlider thumb is private and there is no way to access it through NumberControl.  However, HSliders can use custom thumbs through their options.  @mbarlow12 I think the best way to handle this is to
- Create a custom slider, presumably using HSliderThumb
- Pass it as an option to the NumberControl in ObjectControl
- Link the object value property to the custom thumb fill

[2017-05-22 16:21] mbarlow12 commented on #8
Before we move too far with this, I wanted to raise a concern given the relative difficulty to implement the changing thumb color. The feature seems visually redundant. With the sign of each charge indicated on the charges themselves, it doesn't appear like the thumb adds any additional info. @arouinfar If you'd like us to keep moving on this, that's a-ok—I just wanted to bring it up.

[2017-05-25 21:10] arouinfar commented on #8
Thanks for asking @mbarlow12. From @jessegreenberg's https://github.com/phetsims/coulombs-law/issues/8#issuecomment-302758544 it sounds like there would need to be significant changes to HSlider or we would need to create a new slider altogether. Is that correct? If so, I don't think a color-changing thumb is worth it.

[2017-05-25 21:33] jessegreenberg commented on #8
No, not significant, HSlider and NumberControl support custom thumbs.  A few sims already use the method in https://github.com/phetsims/coulombs-law/issues/8#issuecomment-302758544 to use a custom thumb.  But @arouinfar what do you think about

[2017-05-25 21:35] jessegreenberg commented on #8
In https://github.com/phetsims/coulombs-law/issues/8#issuecomment-302758544 a clumsy typo made it sound much worse than it is, sorry! Should be

[2017-07-12 17:47] mbarlow12 opened #10 "New Pusher Images"
After trying to reuse the pusher images from https://github.com/phetsims/forces-and-motion-basics, we ran into some trouble. It appears that the ratios of image height to hand height differ between the puller and pusher artwork (in addition to the gray circular surface on which the figures stand).

Both images below have the same vertical offset.

<img width="691" alt="screen shot 2017-07-12 at 11

[2017-07-12 17:50] jessegreenberg commented on #10
There is a big difference in the shadow too.

[2017-07-12 18:02] jessegreenberg commented on #10
@mbarlow12 found that the shadows are drawn by the sim, so we can correct that much.  We were also wondering if the difference in shadow is what is messing with the alignment.

[2017-07-12 18:13] arouinfar commented on #10
@jessegreenberg @mbarlow12 I prefer the shadows in the top image.

I can also try aligning the puller images with the pusher images and re-exporting them all at the same resolution.  The assets are similarly sized, so I won't need to resize the pusher assets.
![image](https://user-images.githubusercontent.com/8419308/28132534-57dbadac-66fa-11e7-9fb9-41e09f715946.png)

But I'd need to shift the pus

[2017-07-12 18:57] jessegreenberg commented on #10
Thanks @arouinfar.  We should be able to shift images down in the code, you shouldn't need to export new images if that is the best solution.

But we thought it might look strange to shift the pushers down like that.  Maybe we should give that a try and see how it looks.

Would it take a lot of effort to modify the  images so that the hands align with the puller images without having to shift imag

[2017-07-12 19:02] arouinfar commented on #10
@jessegreenberg please try shifting the images down. Maybe it won't look as odd as we suspect?

To avoid the vertical shift, I'd need to shrink the pushers so that their hands and feet are aligned with the pullers. I think a shrinking pusher would look stranger than the shifting puller. It would take significant changes to update the pusher (or puller) so that the hands and feet are on the same le

[2017-07-12 19:12] ariel-phet commented on #10
@arouinfar Cheryl could also do image change up work for you

[2017-07-12 19:16] jessegreenberg commented on #10
Another option: We could make a rigged RobotNode with Scenery so we have total control of what it looks like, and how it is positioned in any sim so we don't have to make new artwork when we need modified puller/pusher nodes in the future. Would be totally awesome, but would take a lot of time.

[2017-07-12 19:42] arouinfar commented on #10
Initially, I was worried that we would have to alter the stances to level the hands, which would be complicated. After playing with the artwork a bit more, I realized that we could instead rotate the puller's arms about the shoulder so that their hands would be level with the puller. Here's a comparison showing a pusher with the min/max pullers:
![image](https://user-images.githubusercontent.com/8

[2017-07-12 19:46] jessegreenberg commented on #10
@arouinfar I think those are looking great! Thanks for working on it!

[2017-07-12 19:47] arouinfar commented on #10
@jessegreenberg creating RobotNode in Scenery would be really cool, and I could see it being very handy for a sim like Moving Man. However, I think rotating the arms will be a way more efficient.

[2017-07-12 19:54] mbarlow12 commented on #10
Thanks @arouinfar! That'll be a big help.

[2017-07-17 22:13] arouinfar commented on #10
I've emailed the updated puller assets to @mbarlow12 and @jessegreenberg.

[2017-07-20 17:53] jessegreenberg commented on #10
Regarding

I totally agree, images are more efficient now.  If memory becomes an issue in forces-and-motion-basics or a sim that uses inverse-square-law-common, it could be another time to investigate a scenery drawn approach.  Those 32 images add up.

[2017-07-21 22:33] mbarlow12 opened #11 "Pusher/Puller Image updates"
Using the new puller images and the pusher images borrowed from https://github.com/phetsims/forces-and-motion-basics leads to rendering & scaling difficulties.

It would be useful to find a way to create some kind of external bounds to which the images could shrink or grow to fill either the width or height component. Other options may exist.

There's also some significant disparity in the placeme

[2017-07-24 16:01] jessegreenberg commented on #11
Just played with master @mbarlow12, the images look really great going from pushing to pulling!

@mbarlow12 I haven't looked into the details, but do you think it would be possible to translate the images (maybe as part of ```PullerPusherNode.setPull``` or in ```ObjectNode.redrawForce``` so the hand is aligned with the ends of the rope?  That might be easier than modifying bounds.

@arouinfar can

[2017-07-24 16:09] arouinfar commented on #11
@jessegreenberg @mbarlow12 when the force is zero, use the image of the figure that is standing upright with its arms to the side (puller_1.png).
![puller_1](https://user-images.githubusercontent.com/8419308/28532805-22c31274-7058-11e7-98f6-5f64d363e0a2.png)

[2017-07-24 16:13] jessegreenberg commented on #11
@arouinfar does the rope need to change at all in that case? It may not look as strange when the image is positioned correctly.

[2017-07-24 16:15] arouinfar commented on #11
@jessegreenberg I'd like to wait and see what it looks like when the images have been translated correctly. Can you reassign me when it's ready for review?

[2017-07-24 16:25] arouinfar commented on #11
If the F=0 case still looks a bit off after translating the images, we can try hiding the rope.

[2017-07-24 16:36] jessegreenberg commented on #11
Sounds like a good plan @arouinfar, we will keep it in mind once the images are implemented and ready for review.

[2017-07-24 18:14] mbarlow12 commented on #11
@jessegreenberg The translating issue was actually separate from initially resizing the images themselves with bounds. So it appears that we'll need to handle both in some way.

[2017-07-24 18:17] jessegreenberg commented on #11
It looks like the images are the same size now and vertically aligned, is that because they are they being scaled somewhere in inverse-square-law-common?

[2017-07-24 18:24] mbarlow12 commented on #11
Correct, it's in PullerPusherNode.js at the moment.

[2017-07-27 15:56] jessegreenberg commented on #11
@mbarlow12 it looks like forces-and-motion-basics is using a solution to this problem in ```PusherNode.updateAppliedForcePosition```.  I am wondering if we can use a similar solution here?

[2017-07-28 22:28] #11 closed, assigned to mbarlow12

[2017-07-31 19:49] mbarlow12 commented on #2
Closing.

[2017-07-31 19:49] #2 closed, assigned to nobody

[2017-07-31 19:55] #9 closed, assigned to mbarlow12

[2017-07-31 19:57] mbarlow12 commented on #10
Fixed in 7da0e30e8d963b721d35bad98cf326716f0bb001.

[2017-07-31 19:57] #10 closed, assigned to mbarlow12, jessegreenberg

[2017-07-31 20:03] jessegreenberg commented on #8
@arouinfar, do you have any thoughts on this issue given https://github.com/phetsims/coulombs-law/issues/8#issuecomment-304130920?

[2017-07-31 20:07] mbarlow12 opened #12 "Zeros displayed for all values in atomic view standard notation"
Here's a screenshot:
<img width="964" alt="screen shot 2017-07-31 at 2 04 54 pm" src="https://user-images.githubusercontent.com/5711147/28796047-4be255c4-75f9-11e7-8cb3-fd27cf44da4c.png">
The issue is that the values are VERY small, and I doubt we want to display ~25 zeros on screen either. One solution would be to disable the scientific notation option so that it's always checked in the atomic sc

[2017-07-31 20:25] arouinfar commented on #12
@mbarlow12 @jessegreenberg I think it would make the most sense to always display the values in scientific notation and eliminate the Scientific Notation checkbox on the Atomic Scale screen.

[2017-07-31 20:33] mbarlow12 commented on #12
Thanks  @arouinfar—will do.

[2017-07-31 20:39] arouinfar commented on #12
Hold on @mbarlow12!

I've been reviewing master, and the magnitude of the forces at the atomic scale shouldn't be so small. For example, the force between an electron and proton in the Hydrogen atom is on the order of 10^-8 N. What units are you using for distance?

[2017-07-31 20:45] arouinfar commented on #8
Looks like I lost track of this issue. Thanks the bump @jessegreenberg.

@mbarlow12 is correct here. While the thumb color isn't technically adding any new information, I think it will serve as a visual cue to reinforce the sign of the charge to users. I think the thumb color would actually be a bit more salient than the negative sign in the readout, so I would still like to proceed with the dynam

[2017-07-31 20:52] jessegreenberg commented on #8
Thanks @arouinfar.  @mbarlow12 looking for an example, I couldn't find another sim that does this. But I think the approach in https://github.com/phetsims/coulombs-law/issues/8#issuecomment-302758544 should still work.

[2017-07-31 21:04] arouinfar commented on #8
@jessegreenberg Bending Light and Color Vision have dynamic thumbs, but perhaps the difference here is that we're not mapping the thumb color as precisely?

[2017-07-31 21:07] jessegreenberg commented on #8
Thanks @arouinfar I forgot about those.  Unfortunately, bending-light and color-vision use a type called WavelengthSlider, which has the dynamic thumb color built into its implementation and is very different from HSlider.

[2017-07-31 21:13] arouinfar commented on #8
Thanks for the clarification @jessegreenberg. I didn't realize those weren't instances of HSlider.

[2017-07-31 22:32] jessegreenberg opened #13 "mockups for atomic scale"
@arouinfar would you mind adding some mockups for the atomic scale to the design document?  @mbarlow12 and I were working on some issues today and had some questions about scaling and distances for that screen.

[2017-07-31 22:33] arouinfar commented on #13
Will do @jessegreenberg. I'll tackle it first thing tomorrow morning.

[2017-07-31 22:35] jessegreenberg commented on #13
Great, thank you!

[2017-08-02 23:12] arouinfar commented on #13
@jessegreenberg @mbarlow12 I've updated the Controls and Mockups sections of the design doc. If there's any particular situation you'd like to see mocked up, or have any further questions, please let me know.

[2017-08-02 23:12] #13 closed, assigned to arouinfar

[2017-08-02 23:15] arouinfar opened #14 "Design screen icons"

[2017-08-02 23:19] mbarlow12 commented on #12
@arouinfar You're correct on this—looks like there are some bigger bugs in the code. @jessegreenberg are tracking them down. Thanks for the heads up!

[2017-08-03 23:04] jessegreenberg opened #15 "reset all doesn't reset the whole simulation"
I noticed that charge values and some of the check boxes aren't properly reset.  @mbarlow12 could you please look into this?

[2017-08-03 23:06] jessegreenberg commented on #15
Actually, it looks like charge is getting reset, but the intermediate Properties in the number controls aren't.

[2017-08-03 23:10] jessegreenberg opened #16 "charges should snap to sim grid"
@mbarlow12 in the latest version it looks like the charges aren't snapping to the grid locations. However, the ruler still is.  Discovered with the ?showGrid query parameter, the charges aren't aligned with grid lines.

[2017-08-04 18:43] #16 closed, assigned to mbarlow12

[2017-08-11 19:25] #12 closed, assigned to mbarlow12, jessegreenberg

[2017-08-11 19:26] mbarlow12 commented on #12
Thanks for catching that error @arouinfar. @jessegreenberg and I finally pegged down the scaling issue for the atomic screen. Closing.

[2017-08-11 21:51] jessegreenberg opened #17 "Continuous testing error"
[code]

[2017-08-11 21:51] jessegreenberg commented on #17
@mbarlow12 can you please take a look?  Maybe just missing a pushed commit?

[2017-08-12 15:33] mbarlow12 commented on #17
This is pretty strange as the radius in each screen is constant. Even so, I've had the sim fuzzing with the latest update (https://github.com/phetsims/coulombs-law/commit/4fe1288b040066c919afe44d73f62512318b9a31) for >20min without errors. Closing.

[2017-08-12 15:33] #17 closed, assigned to mbarlow12

[2017-08-14 20:05] mbarlow12 commented on #8
Barring a final code and color/design review, this issue can be closed. @jessegreenberg would you mind checking my work when you have a chance?

[2017-08-15 16:30] mbarlow12 commented on #15
Reset function added to ChargeControl. Now the reset button calls this on each charge control as well. Closing.

[2017-08-15 16:30] #15 closed, assigned to mbarlow12

[2017-08-17 20:02] mbarlow12 opened #18 "Implement new distance scales"
The updated design docs show the values in cm for the macro view and picometers for the atomic view. This will have to be reflected in the model, ruler, and new legend (https://github.com/phetsims/coulombs-law/issues/20) for each of the screens.

[2017-08-17 20:03] mbarlow12 opened #19 "New charge values in macro screen"
Convert from Coulombs to microcoulombs in both model, charge objects, and charge control nodes.

[2017-08-17 20:07] mbarlow12 opened #20 "Add green legends to all screens."
New design docs require the addition of legends on each screen.

Design:
<img width="180" alt="screen shot 2017-08-17 at 2 06 19 pm" src="https://user-images.githubusercontent.com/5711147/29431484-51485680-8355-11e7-8a69-9edaca12282d.png">

Location/Positioning:
<img width="634" alt="screen shot 2017-08-17 at 2 06 07 pm" src="https://user-images.githubusercontent.com/5711147/29431495-58a45276-8355

[2017-08-17 20:08] mbarlow12 opened #21 "Adjust ruler position"
Ruler position should now be below the objects and pullers.

<img width="634" alt="screen shot 2017-08-17 at 2 06 07 pm" src="https://user-images.githubusercontent.com/5711147/29431548-907e21cc-8355-11e7-8b60-6c295fe835fb.png">

[2017-08-18 18:45] mbarlow12 commented on #20
The new legends have been created in the above commits. Design can be reviewed and updated. Closing.

[2017-08-18 18:45] #20 closed, assigned to mbarlow12

[2017-08-22 21:22] mbarlow12 commented on #21
Closing.

[2017-08-22 21:22] #21 closed, assigned to nobody

[2017-08-22 23:03] jessegreenberg commented on #8
This is working great @mbarlow12, thanks. Code in the above commits look good.

ChargeControlSliderThumb has this code:
[code]

I forgot about this aspect of the thumb, good catch @mbarlow12.  I am wondering if this will have the potential to strip off too many listeners in the future, and we need to re implement the input listener.

[2017-08-22 23:05] jessegreenberg commented on #8
@mbarlow12 scenery has a really neat feature that allows strokes to be fills to be axon Properties, I am wondering if we can leverage that so that we don't have to remove input listeners from the supertype.

[2017-08-22 23:16] jessegreenberg commented on #8
In the above commit I removed the ButtonListeners and replaced with DerivedProperties, passing those directly into the thumb fill options.  @mbarlow12 what do you think of this approach?

[2017-08-23 19:09] mbarlow12 commented on #8
Looks good to me. Closing.

[2017-08-23 19:09] #8 closed, assigned to nobody

[2017-08-23 19:12] #19 closed, assigned to nobody

[2017-08-24 13:08] mbarlow12 commented on #18
Closing.

[2017-08-24 14:54] #18 closed, assigned to mbarlow12

[2017-08-24 15:50] mbarlow12 opened #22 "Handle new ruler constraints"
With the new bounds checking implemented for https://github.com/phetsims/inverse-square-law-common/issues/15, the ruler has become constrained. Ensure that the ruler can freely move around the sim.

We can constrain the center of the ruler to the layout bounds of the sim. e.g. with the 'dev' query parameter, the ruler's center cannot pass the red line in any direction.

[2017-08-25 16:53] mbarlow12 commented on #22
Closing after above commits. Positioning of ruler node now relative to its center and constrained to the model bounds like other objects on the screen.

[2017-08-25 16:53] #22 closed, assigned to mbarlow12

[2017-08-31 23:17] arouinfar opened #23 "Adjust precision of Show Values"
@jessegreenberg @mbarlow12 as discussed in today's design meeting, we'd like to make some adjustments to the number of digits being displayed with "Show Values".

Scientific Notation:
- [x] If last digit is a zero, show it (currently being suppressed)
- [x] Hide "x10^0", because it looks a bit odd and wouldn't generally be written that way

Standard Notation:
- [x] For Macro, show 3 decimal places

[2017-08-31 23:31] arouinfar commented on #14
Ideas from today's design meeting:

Macro: Two charges close together
Atomic: One figure leaning back + charge

[2017-09-05 18:50] arouinfar opened #24 "Scale bar pixel polishing"
During last week's design meeting, we decided that the scale bar could use some more visual weight (increase line weight and font size, use 10 pm on Atomic Scale). We also decided to add a pm to m conversion factor to the Atomic screen, because pm may be unfamiliar to the intended audience.

I've mocked up an updated scale bar to compare to [dev.5](http://www.colorado.edu/physics/phet/dev/html/cou

[2017-09-05 21:55] ariel-phet commented on #24
@arouinfar I think you could bump up the font a bit more.

The thickness of the double headed arrow seems good, however, I would make the vertical lines at each end of the double headed scale arrow significantly taller vertically. At least double or triple their current vertical size.

[2017-09-06 00:14] arouinfar commented on #24
@ariel-phet thanks for the feedback. I bumped up the length of the vertical lines 2.5x, which looks about right to me. Also bumped all the font up a bit. Earlier, the pm conversion factor was 2pt smaller than the scale bar text, but included a version with it the same size. When they're the same size, I think the conversion factor competes a bit with the scale bar, but perhaps that's not so undesi

[2017-09-06 01:27] ariel-phet commented on #24
@arouinfar vertical height looks good now

I would go with the 3rd mockup but actually bump up the "10 pm" font a bit. I like how in the second mockup more emphasis is on the scale bar but the conversion factor just seems too small (hard to read the "-" sign in the exponent).

[2017-09-06 15:42] jessegreenberg opened #25 "Legend should align with grid"
In design meeting, we discussed that it would be nice if the legend aligned with the grid so that students could verify scaling with the ruler.  @mbarlow12 would you mind working on this?

[2017-09-06 16:22] jessegreenberg opened #26 "Use subscripts in Force labels"
In design meeting, we discussed that we should add subscripts to the 1 and 2 of the "q" labels.  Initial investigation showed that there might be a performance issue with this.  This was surprising because RichText was supposed to improve performance of text formatting.  This issue is to track adding and investigating. Assigning to @mbarlow12.

[2017-09-06 16:26] jessegreenberg opened #27 "Arrow scaling"
From the design meeting, arrow scaling was too small at small forces.  These notes are from the design doc.

@arouinfar by "default" did you want to change initial values for the distance/charges or should we just manipulate the arrow scaling?

[2017-09-06 16:31] jessegreenberg opened #28 "Scientific notation should have constant precision"
Could potentially be fixed with #23, so maybe that issue should be looked at first, but there is a bug in the value readout for scientific notation.  The precision changes when the hundredths decimal is zero:
![1](https://user-images.githubusercontent.com/6396244/30123190-6c582358-92ee-11e7-8efb-04eb950b009f.PNG)
![2](https://user-images.githubusercontent.com/6396244/30123193-6e3827d6-92ee-11e7-91

[2017-09-06 16:34] jessegreenberg commented on #25
Related to  #24

[2017-09-06 16:37] jessegreenberg opened #29 "Make the radii of the atomic charges smaller, move labels down a little"
Came up during design meeting - it  was requested to make the radii of the charges in the atomic screen ever so slightly smaller.  I have 5% written down in my notes.

At the same time, it was also requested that the q1 and q2 labels be moved down a little bit farther in this screen.

Assigning to @mbarlow12.

[2017-09-06 16:40] jessegreenberg opened #30 "Add some space between the 100 and the end of the ruler in Atomic screen"
In design meeting, it was requested that we add a little more space between the end of the ruler and the "100" label in the atomic screen.  This will require us to add more padding on both sides, but that seems fine. @mbarlow12 could you please take a look?

[2017-09-06 16:50] arouinfar commented on #27
@jessegreenberg let's keep the default values the same, and manipulate the arrow scaling.

[2017-09-06 18:41] mbarlow12 commented on #28
I added a check for the length of the mantissa after the decimal. If it's less than 2 (we can also set that value through options if desired), we pad it out with zeroes so that -3.2 becomes -3.20.

Closing.

[2017-09-06 18:43] mbarlow12 commented on #23
Padding with zeroes handled in https://github.com/phetsims/inverse-square-law-common/commit/4c255d36a8620615324c4e189c764320ccb8e136.

[2017-09-06 20:53] mbarlow12 commented on #30
Do we need to add padding only to the 100 side? The RulerNode doesn't have an option to differentiate right and left insets, and we'd have to alter the way it draws the ticks in order to allow it.

Adding the padding to both sides, on the other hand, is very straightforward. Thoughts?

[2017-09-06 21:52] jessegreenberg commented on #30
That sounds great to me @mbarlow12.

[2017-09-06 21:53] jessegreenberg commented on #27
Sounds good @arouinfar.  @mbarlow12 does this seem straight forward with our current approach to arrow scaling?

[2017-09-06 23:07] arouinfar commented on #14
I've mocked up two options at different zoom levels based on the suggestions from last week's design meeting. The lower options translate a bit better to the navbar icons, but I don't think it's a huge difference. Can you take a look @ariel-phet?

<img width="593" alt="screen shot 2017-09-06 at 5 04 19 pm" src="https://user-images.githubusercontent.com/8419308/30138423-8674cd22-9325-11e7-8759-c269

[2017-09-06 23:09] mbarlow12 commented on #28
To be handled by changes in ScientificNotationNode. See https://github.com/phetsims/scenery-phet/issues/334.

[2017-09-06 23:10] arouinfar commented on #24
@ariel-phet I bumped up the scale bar font to 18pt for both screens. Looks about right to me.

<img width="1023" alt="screen shot 2017-09-06 at 5 09 12 pm" src="https://user-images.githubusercontent.com/8419308/30138560-3506e9e2-9326-11e7-8103-371d90254fec.png">
<img width="1024" alt="screen shot 2017-09-06 at 5 09 27 pm" src="https://user-images.githubusercontent.com/8419308/30138559-3505cf08-932

[2017-09-07 02:11] ariel-phet commented on #24
@arouinfar agreed, looking good!

[2017-09-07 02:17] ariel-phet commented on #14
@arouinfar I think the atomic icon is good, I like the lower one a bit more (no reason I can particularly articulate)

For the macro, I think I would use something like upper one, but maybe make the charges a bit smaller and include some iconic force arrows?

[2017-09-07 16:48] arouinfar commented on #24
Thanks @ariel-phet!

@jessegreenberg @mbarlow12 the mockups for the updated scale bar can be found in https://github.com/phetsims/coulombs-law/issues/24#issuecomment-327636734.

* "1 cm" and "10 pm" text is 18 pt
* "1 picometer (pm) = 1x10^-12 m" is 16 pt
* Double-headed arrow stroke weight is 3 pt
* Vertical lines sandwiching the arrow have a stroke weight of 2 pt and length of 15 px

[2017-09-07 16:51] arouinfar commented on #14
Thanks for the feedback @ariel-phet!

Me too, perhaps it's because the pusher fills up the frame a bit more.

I really like the idea of adding iconic force arrows! I'll mock up some options.

[2017-09-07 17:40] arouinfar commented on #14
Started with the top Macro icon and reduced the size of the charges by 10%, then added iconic vectors.  I mocked up a few options and then realized the arrows pointed in the wrong direction, but we could instead change it so that both charges are positive (or negative).

<img width="626" alt="screen shot 2017-09-07 at 11 29 11 am" src="https://user-images.githubusercontent.com/8419308/30176713-b4a

[2017-09-07 17:44] jessegreenberg commented on #24
Looks great @arouinfar! Removing my assignment.

[2017-09-07 19:01] ariel-phet commented on #14
I think I dig option (5) as well.

[2017-09-07 19:35] arouinfar commented on #14
@jessegreenberg @mbarlow12 here are the screen/navbar icons

[2017-09-07 19:40] arouinfar commented on #14
@jessegreenberg @mbarlow12 here are the icons we've decided on. The navbar icons are identical to the screen icons (just scaled down). I think these would be relatively straightforward to implement in code once we get the finalized pusher asset. I'd also be happy to provide the assets, if that's what you'd prefer.

<img width="607" alt="screen shot 2017-09-07 at 1 35 14 pm" src="https://user-image

[2017-09-08 17:07] mbarlow12 commented on #30
Handled in above commits. Closing.

[2017-09-08 17:07] #30 closed, assigned to mbarlow12

[2017-09-08 17:11] mbarlow12 commented on #29
Closing for now—we can reopen if they require additional adjustment.

[2017-09-08 17:11] #29 closed, assigned to mbarlow12

[2017-09-08 19:24] mbarlow12 commented on #27
We added a second visual mapping for small force values. This adds some arrow modulation when the force is relatively small. You can still see a point where the mapping shifts to expected behavior.

@arouinfar could you have a look and confirm this is what was desired? Thanks.

[2017-09-08 19:30] #26 closed, assigned to mbarlow12

[2017-09-08 20:27] mbarlow12 commented on #24
@arouinfar feel free to check the latest changes to master when you have a chance. Thanks.

[2017-09-08 20:44] arouinfar commented on #24
Looks great @mbarlow12!

@ariel-phet would you also like to review?

[2017-09-08 21:03] mbarlow12 commented on #14
@arouinfar For the above icons, sending the separate pngs would be the easiest on our end. Thanks!

[2017-09-08 21:08] arouinfar commented on #27
Definitely an improvement @mbarlow12. The Macro screen is feeling pretty good, but Atomic Scale could use some work. On Macro, the vector noticeably grows when increasing one of the charges or bringing them closer together. Ideally, the same would happen on the Atomic Scale screen, but there doesn't seem to be as much range.

The default vector size seems reasonable.
![image](https://user-images.g

[2017-09-08 21:18] arouinfar commented on #14
@mbarlow12 I've emailed you the screen icon assets.

[2017-09-08 22:24] jessegreenberg commented on #27
@arouinfar can you please review this version? (on branch, can't see on phettest)

http://www.colorado.edu/physics/phet/dev/html/coulombs-law/1.0.0-dev.6/coulombs-law_en.html

Being able to see 2 orders of magnitude in size difference around the initial values lead to massive arrows that can't be seen when exploring full parameter ranges. This is why we investigated a second function around small

[2017-09-09 00:38] ariel-phet commented on #24
Looks great! closing

[2017-09-14 15:29] mbarlow12 commented on #14
Images and license details added in last commit. @arouinfar or @ariel-phet, can one of you review the license info? Thanks.

[2017-09-14 16:14] arouinfar commented on #14
Icons look good @mbarlow12. License info generally looks good, I'd update the notes to:
`macro_screen_icon.png` created by Amy Rouinfar
`atomic_scale_screen_icon.png` created by Cheryl McCutchan

[2017-09-14 16:23] jessegreenberg opened #31 "Make sure UI items are visible on white background"
Came up during design meeting, teachers like to invert colors to print black sims on a white background. We should make sure that when the sim background is white everything shows up.

[2017-09-14 16:34] arouinfar opened #32 "Create projector mode"
Since this sim has a black background, we'll need a projector mode. Generally, we should make the background white and the play area text/vectors black. Adding a black stroke around the charges will also be necessary since when the charge is small, the color won't contrast very well against a white background.

In https://github.com/phetsims/charges-and-fields/issues/140, it came to our attention

[2017-09-14 16:36] arouinfar commented on #32
One more thought -- if the ruler and panels don't already have a black stroke, it would be good to add one to support better contrast for both printing and projector mode.

[2017-09-14 16:37] jessegreenberg commented on #31
Ah, this will be handled by #32.

[2017-09-14 16:37] #31 closed, assigned to nobody

[2017-09-15 16:59] mbarlow12 commented on #32
When using that print setting, is it only the background that turns white, or are other elements on the page/screen also converted? E.g. might black arrow stroke be converted as well?

[2017-09-15 17:12] arouinfar commented on #32
Good question @mbarlow12. I think the print setting applied to black backgrounds only, but I don't have any experience using such a setting. @pixelzoom are you familiar with the setting the user in https://github.com/phetsims/charges-and-fields/issues/140 was using?

[2017-09-15 21:23] pixelzoom commented on #32
@arouinfar asked:

All of the information that I have from the user is in https://github.com/phetsims/charges-and-fields/issues/140#issue-257086959.  You might try asking him specific questions in https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/h7qeZ5LuIdM. Or I can send you his direct email address, if you prefer.

[2017-09-15 21:28] pixelzoom commented on #32
I sent the user's email address to @arouinfar and @mbarlow12 via Slack.

[2017-09-15 21:55] arouinfar commented on #32
Thanks @pixelzoom. I've emailed the user, and I'll report back when he replies.

[2017-09-19 17:24] arouinfar commented on #32
@mbarlow12 here's a print preview of Charges and Fields with the added black stroke around the arrows. Seems like the printer (or at least some printers) would be able to distinguish between the black background and the black stroke.
<img width="639" alt="screen shot 2017-09-19 at 11 09 23 am" src="https://user-images.githubusercontent.com/8419308/30605790-b315c5c8-9d2c-11e7-992a-cbab597a83cb.png"

[2017-09-20 16:18] mbarlow12 commented on #14
Thanks! Closing.

[2017-09-20 16:18] #14 closed, assigned to mbarlow12

[2017-09-21 15:53] mbarlow12 commented on #32
@arouinfar I ran into a bit of an issue with the stroke around the text. It appears that the default is to draw the stroke on the inside of the given element, which makes sense in order to keep the outer edges consistently placed.

<img width="892" alt="screen shot 2017-09-21 at 9 48 19 am" src="https://user-images.githubusercontent.com/5711147/30705324-5ebe5aa8-9eb2-11e7-8cb8-23fd9e68f2aa.png">

[2017-09-21 16:24] jessegreenberg commented on #32
@mbarlow12 I can't think of a great solution to this.  Have you tried bumping up the font weight for the arrow labels? Would have to be changed when switching to projector mode so the black text doesn't look  too thick.

But since we have added a projector mode where the text changes to black on a white background, what is the benefit of adding a stroke around the text?

[2017-09-21 16:25] jessegreenberg commented on #32
Or changed to white, which was originally suggested by @arouinfar.

[2017-09-21 17:24] mbarlow12 commented on #23
@jessegreenberg made the necessary updates to ScientificNotationNode in https://github.com/phetsims/scenery-phet/commit/bfa18745e03b7022d6f5ddc6627cf2540d489624.  This allow for the display of trailing zeroes when in scientific notation.

Closing.

[2017-09-21 17:24] #23 closed, assigned to mbarlow12

[2017-09-21 17:24] mbarlow12 commented on #28
@jessegreenberg fixed in https://github.com/phetsims/scenery-phet/commit/bfa18745e03b7022d6f5ddc6627cf2540d489624.

[2017-09-21 17:24] #28 closed, assigned to mbarlow12

[2017-09-21 17:39] mbarlow12 opened #33 "Code Review"
Note: the force arrow scaling (see #27) could affect the functionality, so we may need to redo some of the checklist once that is settled.

Also see https://github.com/phetsims/inverse-square-law-common/issues/19 for the parent code review issue.

-----------------
PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Do

[2017-09-21 17:43] pixelzoom commented on #32
I would punt on stroking text.

[2017-09-22 16:44] arouinfar commented on #32
@jessegreenberg originally, the idea was to add a stroke around the white elements as a fallback for those who print the sim, but haven't found Projector Mode.

@mbarlow12 thanks for experimenting with the stroked text! After seeing the results in https://github.com/phetsims/coulombs-law/issues/32#issuecomment-331200253, I agree with @pixelzoom. Let's remove the stroke around the text.

[2017-09-26 17:29] #25 closed, assigned to mbarlow12

[2017-09-26 17:59] mbarlow12 commented on #32
While tinkering with the labels, I noticed that the small charge labels (q1, q2) create a drop shadow by duplicating the text and adding an offset. We could do the same thing with a heavy font weight to create a background/border of sorts for the text.

I'll try to ensure that it's only conditionally drawn based on the projector mode.

[2017-10-02 21:23] mbarlow12 commented on #32
Forget what I said above—there doesn't appear to be a way to both alter the weight & size of the text and condense the spacing between then so that everything's aligned properly. Going with the original punting plan.

[2017-10-02 21:41] mbarlow12 commented on #32
Closing.

[2017-10-02 21:41] #32 closed, assigned to mbarlow12

[2017-10-02 22:03] arouinfar commented on #32
Looks good on master @mbarlow12!

[2017-10-02 22:07] arouinfar commented on #24
@mbarlow12 when reviewing projector mode on master, I noticed that there's an "m" missing from the end of the conversion factor on the Atomic Scale Screen. It should read "1 picometer (pm) = 1x10^-12 m".
![image](https://user-images.githubusercontent.com/8419308/31101583-a2ba38e4-a78b-11e7-8e4d-3c522ae62ed4.png)

[2017-10-03 16:50] #24 closed, assigned to mbarlow12

[2017-10-03 16:50] mbarlow12 commented on #24
Thanks for spotting that @arouinfar—fixed now.

[2017-10-13 21:16] jessegreenberg commented on #27
@arouinfar I don't mean to rush, but once #33 is done we could be ready for a dev test. Any thoughts for this issue?

[2017-10-18 21:32] mbarlow12 opened #34 "Credits"
Per the Code Review Checklist, we can track the sim's credits here prior to publishing.

[2017-11-29 18:19] mbarlow12 commented on #33
Ready for dev testing.

[2017-11-29 18:19] #33 closed, assigned to mbarlow12

[2017-11-29 22:21] jessegreenberg opened #35 "Instrument ruler with keyboard navigation"
All components in this sim are keyboard navigable except the ruler, @mbarlow12 could you please instrument the ruler with keyboard navigation? You will need to use KeyboardDragHandler in scenery-phet. Take a look at its usage in Friction for an example. Let me know if you have any questions or run into trouble.

If we do this before publishing a dev version this could be tested in the next dev tes

[2017-11-30 20:25] mbarlow12 commented on #35
Since all ISLC sims use a ModelViewTransform2, it will be useful to handle such situations in the KeyboardDragHandler itself.

See https://github.com/phetsims/scenery-phet/issues/344 and https://github.com/phetsims/scenery/issues/716 for more details.

[2017-12-06 18:17] jessegreenberg commented on #35
@mbarlow12 and I worked on this 12/5/17 and keyboard dragging for the ruler is working great. @mbarlow12 anything else to do here or can this be closed?

[2017-12-06 19:06] jessegreenberg opened #36 "check box panel text scaling"
While playing with the sim, we noticed that the maxWidth of the text in the checkbox panel is such that some text is scaled down with english strings. They should be the same size unless strings grow too large from i18n. @mbarlow12 could you look into this?

![capture](https://user-images.githubusercontent.com/6396244/33680086-cb8c9152-da7d-11e7-904d-684fdab4de01.PNG)

[2017-12-08 18:49] arouinfar commented on #27
@jessegreenberg @mbarlow12 in general, the scaling in dev.7 is looking much nicer! The Macro screen looks great, and the size of the vectors seems very responsive. I'm still not completely satisfied with the behavior on the Atomic Scale screen, however.

The size of the force vector on startup seems appropriate -- quite small, but still visible.
![image](https://user-images.githubusercontent.com/8

[2017-12-08 22:39] jessegreenberg commented on #27
@arouinfar, what do you think of behavior in https://www.colorado.edu/physics/phet/dev/html/coulombs-law/1.0.0-dev.6/coulombs-law_en.html?

In that dev version, we remove all "hollywood" effects that keeps arrows visible, so all three of the list items are covered. However, at larger forces the arrows go way off screen. Personally I think this is OK and prefer the behavior in dev.6.

[2017-12-09 00:01] arouinfar commented on #27
@jessegreenberg I was comparing the vector scaling in dev.5 and dev.7 -- I hadn't realized dev.6 and dev.7 were different. My bad!

I'm really liking the scaling in dev.6 -- the vectors feel much more responsive! I also think it's fine for the extremes to be extreme, as it's a better representation of inverse square behavior.

[2017-12-11 21:26] jessegreenberg commented on #27
Sorry @arouinfar, I should have mentioned it when I provided a dev version to test.

@mbarlow12 could you please make master behave like 1.0.0-dev.6? I think in this version we removed the `smallForceToArrowWidthFunction` function in ISLCForceArrowNode.

[2017-12-14 20:12] jessegreenberg commented on #27
@arouinfar and I met to discuss on 12/14, and discussed that the scaling feels good in dev.6, but it would be nice if the scaling of the macro arrows at their default value was a little bigger. Ideally this should not change the size of the arrows on the atomic view.

[2017-12-14 20:21] jessegreenberg commented on #27
After discussing a little more, we decided to have a larger meeting to talk about how this  should behave across CL, GFL, and GFL:B (all sims that use inverse-square-law-common).

[2017-12-19 00:37] jessegreenberg commented on #27
After a slack discussion with @arouinfar I removed the scaling  around small arrows in master so that we can have a broader discussion about this in context with GFL and GFL:B sims soon. The old scaling should be preserved on branch `augmented-arrows` (in both this repo and ISLC) in case.

[2017-12-28 21:25] jessegreenberg commented on #27
No longer on hold, @ariel-phet and @arouinfar gave a +1 for the scaling in this sim. Next steps are to clean up TODOs added in  https://github.com/phetsims/coulombs-law/commit/e05fe2cef29ef6318dc69375af279bc0fbe28a3b and make sure that the pixel  polish scaling of arrows around default values.

[2018-01-02 21:15] #36 closed, assigned to mbarlow12

[2018-01-02 21:18] mbarlow12 commented on #35
Was about to close then found this! Looks like we need to make sure that the ruler and its focus highlight are all on the top of the sim.
<img width="986" alt="screen shot 2018-01-02 at 2 17 37 pm" src="https://user-images.githubusercontent.com/5711147/34500413-d7465c8a-efc7-11e7-9768-5381bd3025fa.png">

[2018-01-03 00:29] jessegreenberg commented on #35
Good catch @mbarlow12! This is really similar to https://github.com/phetsims/faradays-law/issues/87. Actually, is it problematic that the ruler is in front of all controls anyway?

[2018-01-03 00:30] jessegreenberg commented on #35
In https://phet.colorado.edu/sims/html/gravity-force-lab/latest/gravity-force-lab_en.html the ruler is  layered behind the control panels to avoid occlusion issues, perhaps that is how this sim should behave too.

[2018-01-04 15:06] mbarlow12 commented on #35
@jessegreenberg that works for me. I'll make the update today.

[2018-01-05 20:58] mbarlow12 commented on #35
I'm running into a few issues. Since the panels are common to all sims, they're added to the scene graph first in the CommonView and are thus on the bottom 'layer'. Adding the ruler behind them results in the ruler also being behind the pushers:
<img width="734" alt="screen shot 2018-01-05 at 1 48 38 pm" src="https://user-images.githubusercontent.com/5711147/34627782-2d594f98-f21f-11e7-9cf7-4c10d2

[2018-01-05 22:47] jessegreenberg commented on #35
The highlight overlap seems acceptable to me but it would be good to hear from @emily-phet and @terracoda.

Placing the ruler behind the charges/pullers makes it very difficult to measure the distance so I think the ruler will need to be above the charges and below the panels.

[2018-01-05 22:59] jessegreenberg commented on #35
It seems like we will have to change the scene graph structure. Here are some possibilities
- Create the ruler in CoulombsLawCommonView, passing the options for each ruler in CoulombsLawCommonView.call()
- Pass the ChargeNodes and ISLCRuler into CoulombsLawCommonView as args and let the common view set the layering order.
- Something else?

@mbarlow12 what do you think?

[2018-01-07 13:29] emily-phet commented on #35
A few thoughts:
- The ruler is going to be a challenge for auditory description, in fact I'm considering "a non-visually accessible ruler" to be a modest sized design project in and of itself. Outcomes of supporting effective interaction with the ruler for completely non-visual users may affect the final implementation of basic keyboard nav.
- With previous point in mind, we essentially need reaso

[2018-01-08 16:10] mbarlow12 commented on #35
@jessegreenberg Passing the charges to the common view seems problematic in its large number of arguments (8 if the 2 charges are included) and the fact that creating the charge nodes requires the modelViewTransform (which is instantiated in the common view).

One solution might be to leave all scene graph construction to the macro and atomic views. The commonView would create the panels and ruler

[2018-01-08 16:52] mbarlow12 commented on #35
Another note on keyboard nav for this (and other similar objects for that matter). The arrow keys are subject to long keydowns that will continually move the ruler. I noticed that it is relatively difficult to incrementally move the ruler a single step. Would it be useful to add movement keys/modifiers that would specifically be used to step moveable objects? Something akin to the difference betwe

[2018-01-08 16:59] terracoda commented on #35
It is ideal if the focus highlight is at the same level of the actual focused item, but that could potentially require customizations for every sim with draggable objects.

In a general sense, can this issue be considered related to @jessegreenberg 's question in a11y-research https://github.com/phetsims/a11y-research/issues/69?

[2018-01-08 17:01] terracoda commented on #35
Friction is a sim that has a custom highlight, as an example.

[2018-01-08 17:15] emily-phet commented on #35
@mbarlow12 Regarding https://github.com/phetsims/coulombs-law/issues/35#issuecomment-356024416, this sounds like a brilliant idea. For rulers (and other moveable objects that need to be "lined up" with other things) being able to move in discrete step sizes would be helpful. If those step sizes were customizable, so we can tailor them to the specific object/task that would be helpful.

[2018-01-08 18:12] terracoda commented on #35
@mbarlow12, I agree with @emily-phet this would be very useful.

I haven't played with the sim much, but I was going to ask what the user is supposed to measure with the ruler and if the ruler should have the same step sizes as the sliders representing the pullers? Or if the ruler should snap to something like the dot representing q1? Again, not sure if the user is supposed to measure the distance

[2018-01-08 18:33] mbarlow12 commented on #35
As of now, everything that is moveable snaps to the same grid in the same increments which correspond to half a tick mark on the ruler. However, if you want to move the ruler a single half tick increment with the arrow keys, the button press needs to be very rapid.

My thought was that we should consider creating a separate set of keys or modifiers that, regardless of how long they are pressed, wi

[2018-01-08 18:46] jessegreenberg commented on #35
This sounds really great to me!

Agreed, there are a lot of args. I like the idea of leaving scene graph construction to the macro and atomic views. Another possibility is to have a public controlPanelNode in the common view, adding all control panel things to it. Then use Node.moveToFront() in the atomic and macro views to move it in front of the ruler.

[2018-01-08 18:54] jessegreenberg commented on #35
@terracoda we could also do this if it is preferable.

[2018-01-08 19:03] terracoda commented on #35
@jessegreenberg, thanks for the clarification. Personally, I do think the highlight would look better if it was shown at the same level as the object that has focus, like in Friction or Faraday's Law.

[2018-01-09 16:53] mbarlow12 commented on #35
@jessegreenberg In https://github.com/phetsims/coulombs-law/commit/b279aae4c9f71640e064532c090b53ba67f8edb8, I simply used Node's insertChild method to place the ChargeNodes and arrows at the bottom of the scene graph. I couldn't find anything to suggest that such a thing was ill advised. For now, this at least allows for the layering we desire; we can revisit the code at review.

[2018-01-11 00:18] jessegreenberg commented on #35
Regarding https://github.com/phetsims/coulombs-law/issues/35#issuecomment-356344711, this looks good, thanks @mbarlow12!

From last keyboard navigation meeting we decided that the focus highlight should be layered with the ruler. @mbarlow12 would you mind working on this? In order to to do this, you  will have to create a custom focus highlight and add it to the scene graph (probably as a child of

[2018-01-11 02:03] emily-phet commented on #35
@jessegreenberg Just a question - does this mean that anytime we need a focus highlight that is not in the top layer there needs to be a custom focus highlight? Is it possible to create some generalizable feature to focus highlights, or to sim objects to allow this to be handled without a custom approach for each case? (I don't know if this is possible, it's just a thought)

[2018-01-11 18:02] jessegreenberg commented on #35
@zepumph did a lot of work to generalize the focus highlights so it is actually more simple than https://github.com/phetsims/coulombs-law/issues/35#issuecomment-356782181 makes it out to be. With the current API it might look something like
[code]

[2018-01-11 18:17] emily-phet commented on #35
@jessegreenberg cool beans. I figured this had already been thought out, but just wanted to check.

[2018-01-11 18:39] jessegreenberg opened #37 "Scientific notation check box not reset by 'reset all'"
@mbarlow12 can you take a look?

[2018-01-11 19:17] mbarlow12 commented on #37
Added reset to model.reset(). Closing.

[2018-01-11 19:17] #37 closed, assigned to mbarlow12

[2018-01-11 21:41] mbarlow12 opened #38 "Landing screen focus highlights"
In Safari and FF, we're seeing strange behavior with the focus highlights from the landing page/screen selection. Not sure yet if this is specific to this sim only or to all multiscreen a11y sims.

Safari:
In both the regular sim and the a11y view, the focus highlight seen on the landing page lingers.
<img width="674" alt="screen shot 2018-01-11 at 2 33 15 pm" src="https://user-images.githubuserco

[2018-01-12 18:57] jessegreenberg commented on #35
Discussed in accessibility meeting:

We talked about a modifier key that would force  a single step.
We talked about a delay on press and hold for the ruler.
We talked about a delay on each step when moving the ruler.

We liked the idea of delays for movement, both at beginning and at every move. Both options should probably be added to  KeyboardDragListener.

[2018-01-16 15:33] mbarlow12 commented on #38
@jonathanolson I _think_ this issue lies in joist or scenery. Do you have time this week to pair up and work on it?

[2018-01-17 00:42] jonathanolson commented on #38
Sure, what time works well for you?

I took a brief look, and it looks like it still thinks the button on the homescreen is focused. Hackily tested with:
[code]
which continues to print `HomeScreenView/HBox/ScreenButton` in the buggy state (focus highlight for the homescreen button over another screen).

Not sure how switching screens is supposed to change the focus, are you familiar with the desi

[2018-01-17 21:14] jessegreenberg commented on #27
I think that the arrow scaling values for coulombs-law were discussed with @arouinfar and @mbarlow12. @mbarlow12 is there anything more that needs to be done for this issue?

[2018-01-17 21:18] arouinfar commented on #27
@jessegreenberg looks like this should have been reassigned to me. @mbarlow12 published a new dev version after our meeting for me to review, and it slipped off the radar. I'll review this afternoon and report back.

[2018-01-18 00:53] arouinfar commented on #27
@jessegreenberg @mbarlow12 looks great!

On Atomic Scale, we ended up increasing the default values to match Macro, which means the charge magnitudes no longer mirror the Hydrogen atom. I think this is an acceptable trade-off which allows for the desired behavior described in https://github.com/phetsims/coulombs-law/issues/27#issuecomment-350341698 while reducing the range of values for off-scale

[2018-01-18 00:53] #27 closed, assigned to arouinfar

[2018-01-18 01:22] arouinfar opened #39 "Adjust min/max threshold for figures"
When reviewing #27, I noticed that the figures could be a bit more responsive at the extremes.

At the default values, the figure appears to be [figure_pull_1](https://github.com/phetsims/inverse-square-law-common/blob/master/images/figure_pull_1.png)/ [figure_pull_atomic_1](https://github.com/phetsims/inverse-square-law-common/blob/master/images/figure_pull_atomic_1.png), so decreasing the force

[2018-01-18 17:32] mbarlow12 commented on #38
@jonathanolson Thanks for the feedback. I'll be working all day tomorrow, and @jessegreenberg and I were planning to tackle this in the AM.

I'd suggested pairing as I'm still pretty fuzzy on the inner workings of the scenery and display, but if there are other issues that might be more instructive, perhaps those might be better to pair on.

[2018-01-18 17:35] mbarlow12 commented on #39
@arouinfar I'm not sure I fully understand what you're looking for here. Could we take a few minutes today or tomorrow to discuss?

[2018-01-18 17:49] jonathanolson commented on #38
I'll be available tomorrow, but I have some other collaboration scheduled at 10am. I'll be able to let you know tomorrow if I can help out before that, or if it would need to be after.

[2018-01-18 18:48] arouinfar commented on #39
After speaking with @mbarlow12, I've learned that the mapping between the force and the figure is a bit complicated, particularly because the force can be positive or negative.

We spent some time adjusting `PULL_RANGE_MULTIPLIER`, and it looks like that may give me the results I'm looking for. I will experiment a bit with my local copy, and recommend a value to @mbarlow12.

[2018-01-19 02:05] jessegreenberg commented on #38
@mbarlow12 and I worked on this today. It turns out that Chrome is the only browser to blur the  active element if an ancestor gets hidden. If a descendant of a hidden element has focus, it is now blurred. Verified on Firefox and IE11, but @mbarlow12 could you please review the commit and make sure it works in Safari?

[2018-01-19 17:50] jessegreenberg commented on #35
From a11y meeting 1/19/18:

- We discussed that  default keyboard step  should be 1/5 cm in macro, 1/5 pm in atomic screen.
- We discussed the shift modifier would step ruler to 1/10 cm in macro, 1/10 pm in atomic screen.
- Remove the interval delay for the ruler in ISLC sims.

[2018-01-19 21:23] mbarlow12 commented on #38
@jessegreenberg Issue is fixed for standard screens. However, there's a lot of strange behavior in the a11y view—yet that may not be an issue since that's more for development. I'll create a new issue to track.

[2018-01-19 21:23] #38 closed, assigned to nobody

[2018-01-19 21:26] mbarlow12 opened #40 "a11y view focus highlight behavior"
In FF and Safari, there a lot of lingering and misplaced focus highlights. These are likely a result of the iframe implementation of the sim on this screen. Since a11y view isn't part of our production releases, this may not be an problem. Seems useful to document these issues as they may appear in other contexts where the display (i.e. iframe) is similar.

[2018-01-22 20:40] jessegreenberg commented on #40
Its like none of the hidden elements in the a11y-view are removed from focus order. @mbarlow12 could you please see if this is an issue in the other iframe test? I think the iframe test is generated during build so after running `grunt` it can be found in http://localhost:8080/coulombs-law/build/phet/coulombs-law_en_iframe_phet.html?accessibility

[2018-01-22 20:44] jessegreenberg commented on #40
It is *not* a problem in *_iframe_phet.html* for FF, I am not able to test Safari. So it looks like this is just an issue with the a11y-view which is very strange.

[2018-01-23 16:49] mbarlow12 commented on #40
Confirmed that there's no bug in the iframe on Safari—just the a11y-view issue.

[2018-01-23 16:58] jessegreenberg commented on #40
Great, thanks @mbarlow12. I am going to move this issue to chipper because it impacts all sims that use the a11y-view.

[2018-01-23 16:58] #40 closed, assigned to mbarlow12

[2018-01-23 17:25] mbarlow12 commented on #35
@jessegreenberg could you review before closing?

[2018-01-23 19:11] jessegreenberg commented on #35
Changes look great @mbarlow12, nice job!

I noticed a TODO was added:
[code]

I think we will want to reset flag and timers on blur as well so refactoring sounds great. Would you mind  adding this?

[2018-01-23 20:05] mbarlow12 commented on #35
@jessegreenberg Sure thing! I forgot I added that in there. I'll have that complete by tomorrow AM.

[2018-01-23 21:38] mbarlow12 commented on #35
@jessegreenberg we should be good to go.

[2018-01-26 01:46] jessegreenberg commented on #35
Thanks @mbarlow12. I switched from self -> this in the instance function since self pointed to the window object. I think we are good to go!

[2018-01-26 01:46] #35 closed, assigned to jessegreenberg

[2018-02-01 20:25] BryceAG opened #41 "Firefox lags with ruler keyboard dragging"
Test device: Hanson

Operating System: Windows 10

Browser: Firefox

Problem description: The ruler will lag when being dragged with keyboard navigation. When the arrow key is pressed and held, it will move slower than other objects being pressed and held, and will continue moving after the key is released for a duration. The duration it will continue moving increases proportional to how long the

[2018-02-01 21:16] phet-steele commented on #41
For phetsims/QA/issues/87.

[2018-02-02 17:56] jessegreenberg opened #42 "Pushers do not work with Safari and VO"
@terracoda said that the pullers/pushers were not interactive with VO on.

[2018-02-02 18:08] emily-phet opened #43 "Labels and help text"
This sim is ready for labels etc.!
@terracoda and I will create a draft structure for the HTML document, creating placeholders for a content expert to complete. Target would be to have this complete by Wednesday Feb. 7th.

@arouinfar - Once it's ready, If you could fill in this draft structure, then we can iterate back and forth and get this ready for final publication. Adding you to the assigned

[2018-02-02 19:10] arouinfar commented on #43
Sounds good @emily-phet!

[2018-02-02 21:03] terracoda commented on #42
Just tested again with Mac OC High Sierra 10.13.2, Safari 11.0.2 and VO

I see now that I had Quick Nav on and I didn't know it. I just accidentally turned Quick Nav off and all  is fine.

Closing this issue.

[2018-02-02 21:03] #42 closed, assigned to nobody

[2018-02-02 21:10] terracoda opened #44 "In Safari I don't see pressed Arrow style"
@jessegreenberg and @mbarlow12, just noticed that I only see the nice pressed arrow styles when using Shift plus the Arrow key to move the Charge 1 and Charge 2 sliders.

Is that intentional?

Using Safari 11.0.2 with and without VO on Mac High Sierra 10.13.2.

[2018-02-02 21:25] jessegreenberg commented on #44
@terracoda that is intentional. Those buttons are called the "Tweaker" buttons and are only pressed when stepping the slider by the smallest value with shift. It is a little different for this sim because the shift key doesn't change the step size for the slider.

[2018-02-02 21:30] terracoda commented on #44
Ok, cool. Good with that. Closing.

[2018-02-02 21:30] #44 closed, assigned to terracoda

[2018-02-02 21:34] jessegreenberg commented on #41
@BryceAG this sounds like a performance problem. Do you notice otherwise general poor performance while running the sim on this platform?

[2018-02-02 21:46] lmulhall-phet commented on #41
This is also an issue on Edge.

[2018-02-02 22:39] ghost opened #45 "(keyboard navigation) in Edge, can only tab through browser and navigation bar"
**Test device:**

Hanson

**Operating System:**

Windows 10

**Browser:**

Edge 41.16299.15.0

**Problem description:**

If you don't have your cursor over something you can interact with, or if you don't click on something you can interact with, then the only things you can do with keyboard navigation in Edge are tab through the browser bar and tab through the navigation bar. This is for phetsims

[2018-02-05 19:21] BryceAG commented on #41
@jessegreenberg No, no other performance issues with mouse or keyboard navigation

[2018-02-05 20:15] phet-steele opened #46 "Reduce force arrow height on the Macro Scale screen"
The `forceArrowHeight` on the Atomic Scale screen is much lower than the height in other ISL sims.

The consistent behaviour is to place these right up at the edge of the screen:
<img width="1169" alt="screen shot 2018-02-05 at 12 54 32 pm" src="https://user-images.githubusercontent.com/5863899/35825696-e71ad2dc-0a73-11e8-94f5-0cda26ee9c00.png">

The Atomic Scale screen has them quite a bit lower:

[2018-02-05 20:17] #46 closed, assigned to nobody

[2018-02-05 20:20] BryceAG opened #47 "Toolbox layout"
In other sims when one toolbox checkbox is dependent on another, it is indented and faded out when the parent checkbox is unchecked. Such as in Charges and Fields:
![image](https://user-images.githubusercontent.com/15327201/35826648-92910472-0a76-11e8-9402-7c2e64c469c3.png)

In this sim, Scientific Notation is dependent on Show Values, but is neither indented nor faded out when show values is unch

[2018-02-05 20:28] phet-steele opened #48 "Match default charges on both screens"
The default charges on the Macro Scale screen are:

-2 uC for charge 1
4 uC for charge 2

For no reason at all, the defaults on the Atomic Scale have their signed flipped:

2 e for charge 1
-4 e for charge 2

We should have consistent signs, because why not? @arouinfar was okay with this innocent change.

For phetsims/QA/issues/87.

[2018-02-05 20:28] #48 closed, assigned to nobody

[2018-02-05 22:25] jessegreenberg commented on #45
Reproduced in rutherford-scattering, this is a general multi-screen problem. Seems like a weird Edge bug. When I  resize the browser window without clicking on anything focusable, I am able to tab into the sim elements.

[2018-02-05 22:29] jessegreenberg commented on #45
Could be related to #38 or the fix that was added for that issue.

[2018-02-05 22:34] ghost opened #49 "Navigating to home screen ends keyboard navigation"
Small issue. If you're in the Macro Scale screen or the Atomic Scale screen and you navigate to the Home screen, then keyboard navigation ends. This happens in FF, Chrome, Edge. Wondering if we want to change this. This is for phetsims/QA/issues/87 but also for any sim with keyboard navigation.

[2018-02-05 22:40] jessegreenberg commented on #45
I did some google searching to try to find any documentation about an Edge bug like this and happened across this issue:
https://github.com/phetsims/a11y-research/issues/30

HA!

[2018-02-05 22:47] jessegreenberg commented on #49
@lmulhall-phet can you please clarify? Does this mean "further keyboard navigation is impossible" or "focus is nowhere on the home screen, but I can tab to the first focusable element?".

[2018-02-05 22:50] ghost commented on #49
The latter, hence the warning "small issue."

[2018-02-05 23:01] jessegreenberg commented on #49
Ok, thanks. I am curious as to why this doesn't happen when leaving the home screen.

[2018-02-05 23:06] ghost commented on #49
@jessegreenberg what do you mean?

I just noticed that using keyboard navigation to enter either the Macro or Atomic screen "ends" (using definition from above) keyboard nav. Is this what you mean?

[2018-02-05 23:10] jessegreenberg commented on #49
Well for me, the behavior is this (at least for Chrome):

- When pressing  enter on screen button in home screen, focus goes away. Pressing tab makes focus go to first focusable  element in sim. This is what I would expect.
- When pressing enter on "Home" button in nav bar, focus goes  away. Pressing tab makes focus go to Chrome navigation bar, not fist home screen button, which is strange.

[2018-02-05 23:13] ghost commented on #49
The second bullet point is not an issue in Safari, FF, or Edge, but I do experience it in Chrome.

[2018-02-05 23:14] jessegreenberg commented on #49
Thanks @lmulhall-phet, confirmed.

[2018-02-05 23:38] jessegreenberg commented on #45
@lmulhall-phet I believe this is fixed in  master can you please verify?

[2018-02-06 17:06] ghost commented on #45
@jessegreenberg It seems to be fixed! Closing.

[2018-02-06 17:06] #45 closed, assigned to nobody

[2018-02-06 18:26] jessegreenberg commented on #49
@emily-phet can you please review this issue and assign priority/severity? This is partly a bug and partly a design question.

Design question: I have assumed that focus should go to the top of the document when a new screen is opened. This way someone reading through the active screen with a screen reader will start at the top rather than the first focusable element. I believe the same is importa

[2018-02-06 21:57] arouinfar commented on #47
Great observation @BryceAG! Scientific Notation's visibility depends on Show Values, so it would generally be indented.

Since the panel only has two checkboxes, I think it looks a bit more natural if "Scientific Notation" is slightly smaller. We'll also need to expand the panel a little bit, but there's plenty of space for that.

![image](https://user-images.githubusercontent.com/8419308/35885462

[2018-02-07 00:00] arouinfar commented on #39
@mbarlow12 let's go with `PULL_RANGE_MULTIPLIER` =  1/50.

[2018-02-07 20:07] kathy-phet opened #50 "Lower number of decimals shown on macro screen / regular notation?"
I showed this dev off to a perspective user today, and had a thought.

On the macro screen, when scientific notation is unchecked, there seems to be many more decimal places listed than is really necessary (unless somehow I am missing a setting for very small forces). Seems like it could be reduced to just x.xxx and would still have good precision for plotting. (Note, I would keep the model value

[2018-02-07 20:07] kathy-phet commented on #50
@arouinfar - Can you review this suggestion?

[2018-02-07 21:28] arouinfar commented on #50
@kathy-phet it looks like we already made this request in #23, but somehow got overlooked (or later reverted?). @mbarlow12 can you investigate?

[2018-02-07 21:53] #50 closed, assigned to nobody

[2018-02-07 21:55] mbarlow12 commented on #50
Thanks for the heads up @arouinfar. I found the change I made initially, and I have no idea when/where it was deleted. Fixed on master.

[2018-02-07 22:40] mbarlow12 commented on #41
@BryceAG I can't reproduce (on macOS at least) in any browser. There is some mild text/line blurring in FF that sharpens once the dragging is finished and gives the appearance of moving a little further.

The way it's implemented, the arrow keys, if pressed, allow the ruler to move at each simulation step, so we're not registering distinct key presses. If you're releasing an arrow key and seeing s

[2018-02-07 23:17] mbarlow12 commented on #39
Thanks! Fixed in above commit. Closing.

[2018-02-07 23:17] #39 closed, assigned to mbarlow12

[2018-02-07 23:27] ghost commented on #41
@mbarlow12 I can reproduce this issue in Windows, FF. The movement of the ruler after you let go of one of the arrow keys is very noticeable. For instance, if you move the ruler to the top of the page, press down, then let go when it gets about halfway down, it will continue to move all the way down to the bottom of the page without any user input.

[2018-02-08 17:37] pixelzoom opened #51 "branch: augmented-arrows"
Identified by `print-branches.sh`.  Looks like lots of hands in this branch - @mbarlow12 @zepumph @jessegreenberg @jonathanolson one of you please describe.

[2018-02-08 17:37] pixelzoom opened #52 "branch: large-arrows"
Identified by `print-branches.sh`.  Looks like lots of hands in this branch - @mbarlow12 @zepumph @jessegreenberg @jonathanolson one of you please describe.

[2018-02-08 17:39] jessegreenberg commented on #51
This branch was for https://github.com/phetsims/coulombs-law/issues/27, and has been merged into master and should be pruned.

[2018-02-08 17:39] jessegreenberg commented on #51
Deleted, closing.

[2018-02-08 17:45] jessegreenberg commented on #52
Last commits in this branch indicate this was for #27 which has been closed, I believe this branch can be pruned. @mbarlow12 is that correct?

[2018-02-08 18:25] mbarlow12 commented on #52
Yup. Closing.

[2018-02-08 19:57] arouinfar commented on #47
After some discussion with @ariel-phet we decided against indenting scientific notation. While @BryceAG is absolutely correct that logically, scientific notation should be indented, ISLC sims are a bit different.

When there's a long list of checkboxes, as in CAF, the indentation is visually helpful and is better UX. In ISLC, the small number of checkboxes makes the indentation look like a UI mist

[2018-02-08 19:57] #47 closed, assigned to ariel-phet

[2018-02-08 20:00] arouinfar opened #53 "Macro screen: Scientific Notation off by default"
On Macro, the default force is more interpretable in standard notation, so Scientific Notation should be off by default. We had discussed this in design meeting some time back, but it looks like I neglected to open an issue.

@mbarlow12 can you make this change? Scientific Notation should still be on by default on Atomic Scale.

[2018-02-09 23:37] mbarlow12 commented on #53
Fixed in above commit. Closing.

[2018-02-09 23:37] #53 closed, assigned to mbarlow12

[2018-02-12 18:36] mbarlow12 commented on #41
@lmulhall-phet @BryceAG will either of you be around tomorrow AM? I'd like to go over this in person.  Thanks.

[2018-02-12 18:38] ghost commented on #41
@mbarlow12 I’ll be there tomorrow from 9am-1pm.

[2018-02-12 22:24] ghost commented on #41
@mbarlow12 Scratch that. I'll be here ~9:15-1:00.

[2018-02-13 18:17] mbarlow12 commented on #41
Thanks @lmulhall-phet for showing me the issue. I'll create some logging feature that might help us ferret out the problem. This will likely require some input from @jessegreenberg and maybe @jonathanolson. Assigning myself.

[2018-02-20 22:26] mbarlow12 commented on #49
@jessegreenberg and I tried some sleuthing for this issue to no avail. As far as we can tell, Chrome is receiving the exact same DOM and data as FF and Safari. This issue could potentially take a very long time to track down and could be a bug in the Chrome browser.

@zepumph did the initial work to make the navigation bar and home screen buttons accessible/operable, so he might have some insight.

[2018-02-21 00:05] zepumph commented on #49
It will be at least until the week of March 5th before I will be able to look into this, unless we talk about it at the dev meeting tomorrow.

[2018-02-21 23:12] mbarlow12 commented on #49
@jonathanolson Had a nice suggestion. When returning to the home screen, the screen which the user was just on is still highlighted, so simply set focus on that button. This diverges from the behavior @jessegreenberg mentioned in https://github.com/phetsims/coulombs-law/issues/49#issuecomment-363518012, but it might offer a clean workaround for the time being.

[2018-02-22 19:57] arouinfar opened #54 "Items for Teacher Tips"

[2018-02-22 19:58] arouinfar commented on #54
On hold until RC testing.

[2018-02-23 17:39] jessegreenberg commented on #49
We discussed 2/23/18 accessibility meeting - we like @jonathanolson's recommendation. We will look into  returning focus to the selected screen button. At this time it is not worth the time to figure out why Chrome is behaving in this way.

[2018-02-23 17:40] jessegreenberg commented on #49
@mbarlow12 can we pair on this sometime soon?

[2018-02-23 19:05] mbarlow12 commented on #49
Sure thing. Wanna tackle it this afternoon? I'm free all day.

[2018-02-24 13:11] mbarlow12 opened #55 "Keyboard nav requires extra tab after mouse click back to home screen"
The recent commits to fix https://github.com/phetsims/coulombs-law/issues/49, led to another issue where using the mouse to navigate back to the home screen results in an extra tab interaction to return focus to the screen buttons.

The focus is also always placed on the first screen instead of the screen the user came from. And this happens in all browsers.

@jessegreenberg and I think it's likel

[2018-02-24 13:13] mbarlow12 commented on #49
Fixed in the above commit, yet exposed some new erroneous behavior. See https://github.com/phetsims/coulombs-law/issues/55 for new issue.

[2018-02-24 13:13] #49 closed, assigned to mbarlow12, jessegreenberg

[2018-02-24 20:20] jessegreenberg commented on #49
Above commit looks good @mbarlow12, but just a friendly reminder to build and run fuzz tests before pushing to common code. The above commit fixes a lint error that popped up in CT.

[2018-02-27 23:45] jessegreenberg commented on #55
@mbarlow12 and I worked on this today, the theory and fix mentioned in the original  ticket were correct. Fixed in the above commit.  Closing.

[2018-02-27 23:45] #55 closed, assigned to mbarlow12, jessegreenberg

[2018-03-02 18:01] arouinfar commented on #34
Lead Designer: Amy Rouinfar
Team: Amy Hanson, Ariel Paul, Kathy Perkins
Devs: Michael Barlow, Jesse Greenberg (?)
Graphic Arts: Mariah Hermsmeyer, Cheryl McCutchan

[2018-03-09 18:45] terracoda commented on #43
@arouinfar and @emily-phet are any of the labels I drafted for GFLB here https://github.com/phetsims/gravity-force-lab-basics/issues/61#issuecomment-371253769 helpful for CL?

In CL, there is the ruler of course, and all the interactive sim objects and controls are sliders (no number pickers).

@emily-phet, do you want to have look at GFLB  https://github.com/phetsims/gravity-force-lab-basics/issu

[2018-03-21 18:26] arouinfar commented on #43
@terracoda @emily-phet I think the static descriptions will be very similar (in structure) to GFLB, so I think it would be helpful to discuss GFLB in keyboard nav meeting before moving on to CL. Unassigning myself for now.

[2018-03-21 22:36] mbarlow12 commented on #41
@ariel-phet I've been having a lot of trouble with this issue. I can't reproduce it, and it has only rarely manifested itself since it was initially found.

Can you advise on level of importance to solve prior to RC ? It might take a long time to peg down a cause and implement a solution. Do we ever release sims with lingering minor QA issues?

[2018-03-23 00:43] ariel-phet commented on #41
@mbarlow12 - we do sometimes release sims with minor QA issues that we feel will be "edge cases"

However, in this particular case, I feel like more investigation is warranted for two reasons:
1. Anything dealing with things feeling "smooth" is usually something we do not let slide, as it can affect UX
2. Since we are trying to diligent about keyboard nav, it would be good to know if there is not

[2018-03-23 05:16] jessegreenberg commented on #41
Thanks for the data point @ariel-phet, no idea why zoom would impact performance or behavior.

[2018-03-23 15:13] mbarlow12 commented on #41
Agreed, thanks @ariel-phet for clarifying and finding out more. @jessegreenberg and I can work on that next week.

[2018-03-28 21:51] jessegreenberg commented on #41
@mbarlow12 and I worked on this today. We tested the sim using Hanson, Dalton, and Bates devices. We did not observe the ruler continue to move after keys were released, but we did see some lag in the dragging.

We made changes to the KeyboardDragListener so that it performs more consistently across platforms with varying framerates. This will benefit sims where the dragging is an important physic

[2018-04-04 17:20] ariel-phet commented on #41
@jessegreenberg @mbarlow12 looks better on my win 10 FF. I still do notice zoom affecting keyboard drag.

For instance, at 30% zoom keyboard dragging is very consistent and smooth

At default zoom and above the ruler sometimes jumps a bit further than expected at times (but stops after keyboard release). It is just a less consistent motion

I can get to everywhere I want to go, but there still see

[2018-05-03 23:10] arouinfar opened #56 "Create sim primer"
For #7

- [x] Draft script - 6/4/18
- [x] Record rough version for script verification - 6/7/18
- [x] Review script verification draft, and adjust script as necessary - 6/7/18
- [x] Record another draft 6/8/18
- <s> Review 2nd draft </s>
- [x] Produce primer and upload 6/13/18
- [x] Caption primer 6/13/18

[2018-05-03 23:12] arouinfar commented on #56
Should be done in conjunction with https://github.com/phetsims/gravity-force-lab/issues/97 and https://github.com/phetsims/gravity-force-lab-basics/issues/67.

[2018-05-14 18:17] arouinfar commented on #54
Teacher Tips have been created and uploaded to Drive.

[2018-05-14 18:17] #54 closed, assigned to arouinfar

[2018-05-29 00:24] arouinfar commented on #43
@terracoda @emily-phet I've drafted the static descriptions in the Coulomb's Law [a11y design doc](https://docs.google.com/document/d/1z5ZdC75hdAftXJyfZgQKKgVUGTkKDbT4U2lQLLhZt1Q/edit#heading=h.jtxmm44qd6hc). I have a few open questions that I think would be good to touch on in the keyboard navigation meeting tomorrow, so I've added it to the agenda.

[2018-05-29 20:48] arouinfar opened #57 "Create LoL Icons & Descriptions"
For #7

[2018-05-29 21:40] arouinfar opened #58 "Keyboard Navigation Dialog"
Looks like the sim is keyboard navigable, but we don't yet have a dialog.

[2018-05-30 18:34] arouinfar commented on #58
I modeled the dialog on GFLB (https://github.com/phetsims/gravity-force-lab-basics/issues/29) but Coulomb's Law has some notable differences, including the ruler and sliders to change charge magnitude (rather than numberPicker).

The latter difference makes things a bit tricky, as the sim has two sets of sliders -- the visual sliders to change charge magnitude and the spheres themselves. I had con

[2018-05-31 21:12] jessegreenberg opened #59 "Default ruler step should be 1/10th cm and 1/10th pm"
Requested by @arouinfar, the default step size for ruler dragging should be 1/10th of a cm in macro scale, 1/10th of a pm in atomic scale, and we should remove the fine grain control from shift key.

It is frustrating to remember that shift key is used to snap the ruler to the smallest grid size in the sim. And since the ruler has press and hold behavior to  quickly move it  out of the view, we do

[2018-05-31 22:00] jessegreenberg commented on #59
Oh, this is only a change for the keyboard dragging behavior.

[2018-05-31 22:02] arouinfar opened #60 "Change Default Values on Macro Screen"
In order to boost the default vector size, we decided to update the initial values to:

- [x] q1 = -4 µC
- [x] q2 = 8 µC
- [x] distance = 3 cm

![image](https://user-images.githubusercontent.com/8419308/40810721-ecd128f2-64eb-11e8-914d-45250264ec78.png)

[2018-05-31 22:07] arouinfar commented on #59
Thanks for opening this issue @jessegreenberg.

The charges snap to 0.1 cm when moving them with the arrow keys, but the ruler snaps in 0.2 cm increments. It's quite easy to have a situation in which it's impossible to line up the ruler tick marks with the charges. For example:

![image](https://user-images.githubusercontent.com/8419308/40810947-9c913a16-64ec-11e8-9eab-ed963bc7fda3.png)

[2018-06-01 18:23] arouinfar commented on #43
@terracoda and I met this morning and made some further changes to the static descriptions. I've added several comments to the doc to clarify the thought process/reasons behind the changes.

@ariel-phet can you review the doc? I would also be available for a quick zoom chat, if you'd prefer to talk about the changes together.

[2018-06-04 16:47] #34 closed, assigned to nobody

[2018-06-04 16:50] ariel-phet commented on #43
@arouinfar I reviewed the doc, all looks good to me!

[2018-06-04 17:13] arouinfar commented on #43
I think there's only one open question before the static descriptions are ready for implementation.

@ariel-phet can you take a look at the scene summary? @terracoda and I discussed tweaking the bolded portion below.

Since we added the List with the values for force, distance, and charge, it doesn't seem necessary to include the distance information here. If the goal is to reinforce the scale, th

[2018-06-04 18:03] arouinfar commented on #58
Since the static descriptions refer to the objects as "charges",  I've updated the dialog

![image](https://user-images.githubusercontent.com/8419308/40933604-393b88f8-67ef-11e8-9963-f0bb3faaddfd.png)

@terracoda can you review?

[2018-06-04 18:30] terracoda commented on #58
@arouinfar, we used "Move Spheres" and "Change Mass" for headings in GFLB.

Does "Move Charged Spheres" and "Change Charge" would work here?

[2018-06-04 18:33] terracoda commented on #58
Or even, "Move Spheres" and "Change Charge"?
If so, it could follow GFLB a bit more closely.

[2018-06-04 18:36] terracoda commented on #58
Since, the Charge sliders are horizontal sliders, and not number spinners with up/down arrows, we could focus on vertical movement all the way through if you think that is important.

[2018-06-04 18:46] terracoda commented on #58
@arouinfar, is "increase" and "decrease" charge better here or not?

[2018-06-04 19:04] arouinfar commented on #58
Thanks for the feedback @terracoda.

In GFLB, the headings refer to the objects as "spheres", but in CL they are "charges", so I think "Move Charges" is more analogous.

The "Change Mass" controls are numberPickers, but in CL they are sliders, so the title and controls reflect typical slider dialog content. If we want to "increase" or "decrease" the charge, we cannot use the standard slider dialog

[2018-06-04 22:35] arouinfar commented on #56
Recording is on hold until a new dev version is published for  https://github.com/phetsims/inverse-square-law-common/issues/51.

[2018-06-05 00:47] mbarlow12 commented on #60
New dev deployment with the above changes:

https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.17/phet/coulombs-law_en_phet.html

[2018-06-05 00:48] mbarlow12 commented on #59
New dev deployment:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.17/phet/coulombs-law_en_phet.html

[2018-06-05 15:13] arouinfar commented on #60
👍

[2018-06-05 15:13] #60 closed, assigned to arouinfar

[2018-06-05 15:34] arouinfar commented on #59
Looks great, thanks @mbarlow12!

[2018-06-05 15:34] #59 closed, assigned to arouinfar

[2018-06-05 15:43] arouinfar commented on #56
@CWilson4960 Coulomb's Law is scripted and ready for recording once your other primers have wrapped up (or are otherwise off your plate). Please let me know if you have any questions!

Please use this dev version:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.17/phet/coulombs-law_en_phet.html

[2018-06-07 15:59] ariel-phet commented on #43
@arouinfar @terracoda

I have to say I kind of like the original. It emphasizes the scale and gives the implication that the separation distance can be changed. If you want to remove that, then I would go with option (3). I think saying something about a "grid" is a bit problematic since the charges can only be moved linearly, whereas a grid implies a 2 dimensional space along which they could mov

[2018-06-07 17:48] arouinfar commented on #43
@ariel-phet thanks for your feedback. We removed the distance because it seemed strange to provide a value for just one of the variables. The interaction hint at the end of the scene summary also lets students know that they can move the charges:

We chose to use the "grid" language because we had changed the help text for [H3: Charge Positions](https://docs.google.com/document/d/1z5ZdC75hdAftXJyf

[2018-06-08 18:09] ariel-phet commented on #43
@arouinfar I think "grid" could work work in the help text. If you wanted something more 1d'esque here are some other possibilities:

1. Move charges horizontally in 10 centimeter increments.

2. Move charges horizontally in 10 centimeter steps.

[2018-06-11 17:02] emily-phet commented on #43
@arouinfar @terracoda This is looking great! I added a few suggestions to the design doc.

[2018-06-11 17:31] arouinfar commented on #43
@ariel-phet @emily-phet thanks for the feedback!

@emily-phet suggested:

The step size is 0.1 cm (max separation is 10 cm -- another failing of the "grid" phrasing), but I think that "closer or further" nicely cues that you are changing the distance between the charges.

However, I wonder if we should be slightly more verbose, so it is super clear that you are changing the distance between the ch

[2018-06-12 22:34] arouinfar commented on #43
After reviewing the static descriptions again, I like the updated help text in https://github.com/phetsims/coulombs-law/issues/43#issuecomment-396322291.

@mbarlow12 I think the [static descriptions](https://docs.google.com/document/d/1z5ZdC75hdAftXJyfZgQKKgVUGTkKDbT4U2lQLLhZt1Q/edit#heading=h.jtxmm44qd6hc) are ready for implementation, with the understanding that https://github.com/phetsims/a11y-

[2018-06-13 09:40] terracoda commented on #43
@arouinfar, I like the help text  in https://github.com/phetsims/coulombs-law/issues/43#issuecomment-396322291. too.

[2018-06-13 20:47] arouinfar commented on #56
The primer has been uploaded to Vimeo and is awaiting sim publication. Since the sim primer is in the master checklist, we can go ahead and close this issue. Thanks @CWilson4960!

[2018-06-13 20:47] #56 closed, assigned to arouinfar, CWilson4960

[2018-06-15 16:55] arouinfar commented on #57
Icons and descriptions have been created.

[2018-06-15 16:59] #57 closed, assigned to arouinfar

[2018-06-18 13:46] terracoda opened #61 "Home Screen h1 not neeeded on a multi-screen sim's home screen"
This issue should resolve itself when the Home Screen design pattern is completed this week.
https://github.com/phetsims/a11y-research/issues/104 and https://github.com/phetsims/a11y-research/issues/94

[2018-06-18 13:49] terracoda commented on #61
@mbarlow12 and @arouinfar, I should finish the Home Screen design pattern for multi-screen sims this week, and just wanted to note that we do not want the 2 h1's on the home screen.

We can assign, once the design pattern is competed and agreed upon.

[2018-06-18 15:02] terracoda commented on #58
@arouinfar, I am looking at the content of CL and the dialog to make sure things are aligned content-wise...more to come.

[2018-06-18 16:07] terracoda commented on #58
@arouinfar
How about this for the dialog content?:
**H1: Keyboard Shortcuts**
**H2: Change Charge Positions**
- Move charge left or right with Arrow keys.
- Move in larger steps with Page Up and Page Down keys.
- Jump left with Home key.
- Jump right with End key.

**H2: Move Ruler**
Move ruler up, left, down, or right with Arrow keys or with letter keys W, A,S, or D.

**H2: Adjust/Change Charge A

[2018-06-18 16:10] terracoda commented on #58
@arouinfar, you might want to use "charge" instead of "amount". And in addition, you might want to add the word you choose into the bigger steps line:
- Adjust/Change amount/charge in larger steps with Page Up and Page Down keys.

I defer to you on this, and look forward to your comments.

[2018-06-18 16:13] terracoda commented on #58
@arouinfar, and the content is in the A11y Design doc, if it easier to work there on this content.
https://docs.google.com/document/d/1z5ZdC75hdAftXJyfZgQKKgVUGTkKDbT4U2lQLLhZt1Q/edit#

[2018-06-18 19:34] arouinfar commented on #58
Thanks @terracoda. I added some comments to the doc. My main concerns are with the H2's. I believe those should match the dialog content, and the doc seems to deviate from our conventions for previous dialogs.

[2018-06-19 10:59] terracoda commented on #58
It's actually the headings that have the most flexibility of content. It's ideal to do the pedagogical cuing there, alone, if we can. In GFLB we adjusted the in the content as well for pedagogical reasons.

If you feel there is no need here to adjust the content instructions for pedagogical cuing, that's fine.

[2018-06-19 12:00] terracoda commented on #58
@arouinfar, I have added visual examples tot he design document, to clarify the differences between the visual content and the text-based content.

I think you can see how these different dialogs cue in slightly different ways.

[2018-06-20 19:12] terracoda commented on #61
@@mbarlow12 and @arouinfar, I am going to close this issue as we resolve the design pattern for the Home Screen for multi-screen sims. The design pattern is completed and on [joist/doc/HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md).

[2018-06-20 19:12] #61 closed, assigned to terracoda

[2018-06-21 16:29] arouinfar commented on #58
@terracoda thank you for all of the mockups! I really like version 2. I think "Charge Amount" is a more descriptive than "Charge Controls" so I updated those H2's throughout the sim. I added a comment chain to the mockup for @terracoda to review.

![image](https://user-images.githubusercontent.com/8419308/41732045-39dbc696-753d-11e8-8384-cf8cdd80c0b3.png)

[2018-06-21 17:39] arouinfar commented on #58
@terracoda and I have finalized the dialog and its [a11y content](https://docs.google.com/document/d/1z5ZdC75hdAftXJyfZgQKKgVUGTkKDbT4U2lQLLhZt1Q/edit?ts=5b2bd674#heading=h.96emyia66ao9).

@mbarlow12 the dialog is now ready for implementation.
![image](https://user-images.githubusercontent.com/8419308/41735723-ac4a5cce-7547-11e8-8f41-0a95666d524b.png)

[2018-07-17 19:11] jessegreenberg opened #62 "What else is needed to publish this sim?"
@mbarlow12 @ariel-phet @arouinfar since we are going to proceed with publishing this sim without any a11y, is there anything else that needs to be done before we proceed to an RC?

[2018-07-17 19:12] jessegreenberg commented on #62
@mbarlow12 was coulombs-law code reviewed? I recall that inverse-square-law-common was, which holds most of the sim's implementation.

[2018-07-17 19:14] jessegreenberg commented on #58
Discussed on 7/17/18, coulombs-law will be published first without a11y.  A11y will be included when we republish the simulation in a future minor release.

[2018-07-17 19:15] jessegreenberg commented on #43
We discussed on 7/17/18 that this simulation will be published without a11y. A11y will be included in the simulation in a later minor version.

[2018-07-17 19:23] arouinfar commented on #62
@jessegreenberg this sim was code reviewed in fall 2017 (#33), but that predates the ISLC code review (https://github.com/phetsims/inverse-square-law-common/issues/30) that followed in spring 2018. I'd like to review the dev version that was published yesterday to give it my final sign-off before it moves onto QA testing.

[2018-07-17 21:12] arouinfar commented on #62
@jessegreenberg dev.18 looks good to me! I think this sim is ready for QA (assuming the CL code review predating the ISLC code review is a non-issue).

[2018-07-17 21:20] jessegreenberg commented on #62
I think https://github.com/phetsims/coulombs-law/issues/33 was for personal  review prior to a dev test. I don't think this repo has been reviewed by anyone other than @mbarlow12. I reviewed inverse-square-law-common and gravity-force-lab-basics and would be happy to review this repo too.

@ariel-phet can you please comment on priority and if this is something I or another developer should do?

[2018-07-18 00:38] ariel-phet commented on #62
@jessegreenberg yes, this is something another dev should do, I will mark for dev meeting (your time is a bit overbooked at the moment).

Perhaps @Denz1994 could do a code review with @chrisklus riding along?

[2018-07-18 00:39] ariel-phet commented on #62
Marking for dev meeting so we can see who is available (and excited!) to do a review

[2018-07-18 19:57] mbarlow12 commented on #62
Sorry for the late input. The only items on the radar are a code review and to keep an eye on the ruler dragging issue (https://github.com/phetsims/coulombs-law/issues/41). We decided to move forward without specifically addressing it, but I could easily see this coming up in either the review or during RC/QA testing.

[2018-07-19 16:02] jessegreenberg commented on #62
Sounds good. It was decided that this 1.0 for this sim would be deployed without a11y, so #41 could be deferred till the next release.

[2018-07-19 16:39] samreid commented on #62
Should we implement PhET-iO for testing/publication at the same time? Some progress made in instrumenting inverse-square-law-common was made in https://github.com/phetsims/gravity-force-lab/issues/76

[2018-07-19 19:18] samreid commented on #62
@ariel-phet requested @Denz1994 to code review, once M&S is published.  @mbarlow12  please create a code review issue and assign @Denz1994 and @chrisklus with the intention that @Denz1994 will lead the code review and @chrisklus may tag along.

[2018-07-23 19:10] arouinfar commented on #41
Tagging `For 1.1+` since the 1.0 release will not include keyboard navigation.

[2018-07-24 05:28] mbarlow12 opened #63 "Code Review"
*Please mark failed items with* ❌

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] ❌Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Does th

[2018-07-24 05:33] mbarlow12 commented on #63
@Denz1994 @chrisklus if either/both of you want, we can make some time to go over this sim and the ISLC code in the next week or so depending on your priorities with M&S. Just let me know.

[2018-07-24 05:46] mbarlow12 commented on #62
Code review created: https://github.com/phetsims/coulombs-law/issues/63.

[2018-07-24 17:51] chrisklus commented on #63
@mbarlow12 @Denz1994 that sounds great - friday, monday, or tuesday would be best for me in the next week.

[2018-07-25 18:45] Denz1994 commented on #63
Friday (07/25/18) during core hours (10:00am MT) would be a good time for a preview of the code base for me. Does that sound good @mbarlow12 @chrisklus?

[2018-07-25 19:44] chrisklus commented on #63
@Denz1994 good with me!

[2018-07-26 17:17] mbarlow12 commented on #63
Sorry guys, I missed the notification on this. @Denz1994, I assume you're referring to 7/27, right? If so, we're all set!

[2018-08-27 21:25] jessegreenberg commented on #63
@mbarlow12 @Denz1994 @chrisklus are there any updates for this issue? Just excited to see an ISLC sim published!

[2018-08-28 19:34] Denz1994 commented on #63
@mbarlow12 During build we get this message. ```Unused images file: COULOMBS_LAW/image06.png```

Full context:
[code]
This image might be stale and should be removed.

[2018-08-28 20:05] Denz1994 commented on #63
It was advised by @phet-steele to alphebetize this list of strings in the respective .json files (https://github.com/phetsims/masses-and-springs/issues/151). I am relaying this suggestion along to @mbarlow12.

[2018-08-29 15:17] Denz1994 opened #64 "Update Credits"
Created during the review of Coulombs-Law in https://github.com/phetsims/coulombs-law/issues/63 so we don't forget to update credits as needed.

[2018-08-29 15:17] Denz1994 commented on #63
`CLMacroScreen.js` and `CLAtomicScreen.js` are inconsistent with the rest of the file names, which use the extend name of the sim (i.e. `CoulombsLawGlobalOptionsNode.js`). These file names should be changed @mbarlow12.

[2018-08-29 16:56] arouinfar commented on #64
The design credits are up to date, but Amy Hanson's last name has been misspelled. It should be Hanson with an 'o'.

QA credits will undoubtably expand, so this issue should be reassigned to @KatieWoe when we move into testing.

[2018-08-29 17:03] Denz1994 commented on #63
_Note:_ Commit 0d26abc above has an incorrect commit message. It is corrected in a comment on the commit.

[2018-08-31 07:13] Denz1994 opened #65 "Inconsistent screen names"
As noted in #63:

CLMacroScreen.js and CLAtomicScreen.js are inconsistent with the rest of the file names, which use the extend name of the sim (i.e. CoulombsLawGlobalOptionsNode.js). These file names should be changed @mbarlow12.

[2018-08-31 07:25] Denz1994 opened #66 "String file cleanup"
It was advised by @phet-steele to alphebetize this list of strings in the respective .json files (phetsims/masses-and-springs#151). I am relaying this suggestion along to @mbarlow12 for `inverse-square-law-common-strings_en.json` and `coulombs-law-strings_en.json`.

Also, consider changing to screen.macroScale and screen.atomicScale. Currently, the file reads like this:
[code]

[2018-09-04 19:57] Denz1994 commented on #63
Memory Profiling Session:
- Snapshots were taken in 30 min intervals. (The first 2 snapshots were 15 minutes apart)
- Sim was running in require.js mode with assertions enabled, along with fuzzMouse, and in an incognito window.
- An assertion, to throw an error when the added listeners exceeded a limit, was added to Emitter.addListener() shown below:
`      if ( this.listeners.length >= 500 ) {thr

[2018-09-05 16:01] Denz1994 commented on #63
@mbarlow12 I've completed the review checklist. Majority for suggested changes are in noted by
`// REVIEW:`  other related issues have been tagged in this issue. Overall this is looking great. I will compile a list of helpful takeaways for @chrisklus. I will leave myself assigned to help with any further explanations or questions that may arrive.

Note: I did ask @jonathanolson for feedback on the

[2018-09-07 15:30] Denz1994 commented on #63
@jonathanolson mentioned via slack about the structure of `ISLCPullerImages.js` : "Sounds good to me." I don't see a reason to refactor this aswell.

[2018-09-07 16:10] mbarlow12 commented on #63
Thanks for the update @Denz1994! I'll probably have some questions when I get further into it next week.

[2018-09-13 21:35] jessegreenberg commented on #63
I just encountered this review comment:

while working on https://github.com/phetsims/inverse-square-law-common/issues/52. Good question, sorry its not clear. We do not want this in options because we don't want the client to be able to set this. An assertion should be added to verify and document this.

[2018-09-13 22:41] jessegreenberg commented on #63
I added the assertion in the above commit and also updated documentation about the group focus highlight, which uses an HTML5 setter, it is not setting a protected property.

[2018-09-17 21:29] KatieWoe opened #67 "CT: Tandem was required but not supplied"
[code]

[2018-09-17 22:55] zepumph commented on #67
Coulombs law is in a weird spot right now, because we seem to want to maintain it, i.e. for issues like https://github.com/phetsims/joist/issues/342, but it has not been run in phet-io mode really at all, so there are many issues with the current phet-io code. I did as much as I could today, but I have no idea how much  more tweaking there is to do right now. Until then, I guess we are stuck in th

[2018-09-18 18:46] zepumph commented on #67
From https://github.com/phetsims/joist/issues/342:

[2018-09-19 03:26] samreid commented on #67
I committed a fix that gets me through phet-io fuzz testing locally, and the wrapper unit tests are also passing.  So perhaps it is safe to close for now, but we can reopen this or a new issue if Bayes CT finds something else.

[2018-09-19 03:26] #67 closed, assigned to samreid, zepumph

[2018-09-19 21:18] zepumph commented on #67
Ha! I did many fixes, and then gave up only to find that there was but one left! Thanks for taking it to the finish line @samreid.

[2018-09-22 00:01] mbarlow12 commented on #63
@Denz1994 I had some thoughts on your review comment

`// REVIEW: Add microcoulombs to units section of MathSymbols.js`

Perhaps instead of MathSymbols, do you think it'd be more useful to have a `Units.js` file where things like micro-, pico-, centi-, etc... could be stored? Happy to float to the devs.

[2018-09-22 21:46] pixelzoom commented on #63
@mbarlow12 said:

Units typically require i18n, and therefore must be in strings.json files.

Internally... Validation of the `units` option for Property (which is not exposed to the user) is done using the values in `AXON/units`.  See Property line 82.

[2018-09-25 01:31] mbarlow12 commented on #66
@Denz1994 thanks for passing along. I've made the changes; do you prefer closing issues you've opened?

[2018-09-25 01:41] Denz1994 commented on #66
You can close them @mbarlow12. They seem pretty straight forward.

[2018-09-25 01:41] #66 closed, assigned to Denz1994

[2018-09-25 14:50] KatieWoe opened #68 "CT: Missing string"
[code]

[2018-09-25 15:14] Denz1994 commented on #63
The usages of the columb unit don't use unicode characters (also true in Capacitance-Lab-Basics). Out of all of the [metric prefixes](https://en.wikipedia.org/wiki/Metric_prefix) only `micro` uses a unicode character and is only used in CL.

My intent in https://github.com/phetsims/coulombs-law/issues/63#issuecomment-423700083 was to add a unified symbol for coulumb in MathSymbol.js, but after ret

[2018-09-25 15:23] mbarlow12 commented on #68
Feeling a bit a facepalm here—I forgot to change the references to the keys. Fuzzing and linting are clean after the above commits.

[2018-09-25 15:24] mbarlow12 commented on #65
Updated file names per @Denz1994 suggestion.

[2018-09-25 15:24] #65 closed, assigned to mbarlow12

[2018-09-25 15:27] pixelzoom commented on #63
Regardless of whether the coulomb units uses a Unicode character, it still needs to be translatable. In general, it's not appropriate to put units in MathSymbols.js.

[2018-09-25 15:29] mbarlow12 commented on #64
Changed Amy's last name and added a TODO for QA credits. Closing.

[2018-09-29 02:25] mbarlow12 commented on #63
Thanks for the discussion—am I correct in assessing that the recommended course of action is to keep the units where they are?

@pixelzoom `AXON/units` appears to be used exclusively for PhET-IO (at least that's where I found the only use of `[Pp]roperty.units`). Is it advisable to use the option to be more explicit when instantiating Properties?

[2018-09-29 02:37] pixelzoom commented on #63
To make my sims "ready to instrument", I've lately been following this practice for use of Property and its subclasses. Wherever possible/appropriate:

- use type-specific subclasses (BooleanProperty, StringProperty, NumberProperty)
- use validation options (`valueType`, `validValues`, `isValidValue`)
- use `units` option for NumberProperty

The [code-review checklist](https://github.com/phetsims/

[2018-09-29 02:40] pixelzoom commented on #63
@mbarlow12 asked:

Yes, coulombs-law-strings_en.json is the correct place for units that are visible in the UI.

[2018-09-29 02:41] mbarlow12 commented on #63
Thanks @pixelzoom I'll find a decent spot in those docs tomorrow to make a note and take the steps you mentioned in CL before handing back to @Denz1994 for final review. Thanks again for the input.

[2018-09-30 16:49] mbarlow12 commented on #63
@Denz1994 the above items from your comments/discussion are done. Back to you for final check before closing.

[2018-10-03 15:56] Denz1994 commented on #63
Relevant issues have been addressed and `REVIEW` `TODO` statements have also been handled. Handing back to @mbarlow12 for the final close.

[2018-10-03 21:49] mbarlow12 commented on #63
Thanks @Denz1994! Closing and moving into dev testing at https://github.com/phetsims/QA/issues/203.

New dev release at:

https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.19/phet/coulombs-law_en_phet.html

[2018-10-03 21:49] #63 closed, assigned to chrisklus, mbarlow12

[2018-10-03 21:50] mbarlow12 commented on #62
#63 is now complete, and we're ready to move on to dev testing. See https://github.com/phetsims/QA/issues/203 for details.

New dev release at:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.19/phet/coulombs-law_en_phet.html

[2018-10-04 22:23] KatieWoe opened #69 "Enter doesn't select check boxes"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/203 using https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-dev.19/phet/coulombs-law_en_phet.html?accessibility.
Mostly a question.  I have noticed that, while you can select and unselect checkboxes using keyboard nav with the space bar, you can't use

[2018-10-04 23:23] KatieWoe commented on #41
@jessegreenberg @mbarlow12 Win 10 firefox for https://github.com/phetsims/QA/issues/203.  I have noticed that on firefox holding the arrow buttons down while dragging the ruler is a bit more jumpy.  I wouldn't really call it lag since not really any slower, its just a bit less smooth.  Might not have noticed if I weren't looking for it honestly.

[2018-10-05 17:52] jessegreenberg opened #70 "Assertion in debug build only"
While looking into https://github.com/phetsims/john-travoltage/issues/317, we noticed that this assertion is hit in the the _debug.html version. This isn't happening in RequireJS which is very strange. Here is the assertion.

I am not sure what could be causing this error only in the debug version. This sim is currently in dev testing, so @mbarlow12 so he is aware.

[2018-10-10 18:30] mbarlow12 commented on #69
@KatieWoe the typical behavior/interaction for checkboxes (and a number of other form elements) is through the space bar.  You can see [here](https://webaim.org/techniques/forms/controls#checkbox) for reference.

Since this is expected behavior, I'll go ahead and close the issue.

[2018-10-10 18:30] #69 closed, assigned to mbarlow12

[2018-10-10 18:36] arouinfar commented on #58
@mbarlow12 I saw the dialog up on master, and it's looking great!

[2018-10-10 22:22] mbarlow12 commented on #70
@jessegreenberg this is really confusing. When inspecting the error, the icon appears to have the appropriate width and height attributes when passed to `validateIconSize`. Perhaps we could pair on this at some point soon?

[2018-10-10 22:24] mbarlow12 commented on #70
Here's a screenshot:
![screenshot_2018-10-10_16-22-27](https://user-images.githubusercontent.com/5711147/46769408-ed250b00-cca8-11e8-9079-7e180e51a094.png)

[2018-10-11 14:46] jessegreenberg commented on #70
I am also confused and don't know why this is happening. Since this issue is related to https://github.com/phetsims/QA/issues/204, lets add to developer meeting agenda to see if anyone more familiar with the debug build or image plugin has thoughts about why this is happening.

[2018-10-11 14:53] jessegreenberg commented on #70
I verified that this is not an issue in other sims, including forces-and-motion-basics which also uses `scenery/Image` for screen icons.

[2018-10-11 16:09] samreid commented on #70
I attempted to reproduce this problem.  I pulled all repos and am up to date in master.  Then I ran build john-travoltage and launched http://localhost/john-travoltage/build/phet/john-travoltage_all_phet_debug.html in Mac Chrome with the Dev Tools open.  There is no assertion error.  I also tried http://localhost/john-travoltage/build/phet/john-travoltage_all_phet_debug.html?ea and likewise saw no

[2018-10-11 16:26] jessegreenberg commented on #70
Thanks for checking @samreid, this issue so far seems specific to coulombs-law. I just pulled all repos and ran `grunt build` in coulombs-law. Navigating to http://localhost:8080/coulombs-law/build/phet/coulombs-law_all_phet_debug.html, I see this assertion from Screen.js

We are not hitting this assertion in RequireJS.

EDIT: Stack trace shows this coming from CoulombsLawMacroScreen, but might ha

[2018-10-11 17:04] samreid commented on #70
The problem is that the Screen constructor is called before `launch` is called and that is where the icon Image is created.  Launch awaits loading for all the images and works great for Screen.createModel and Screen.createView.   For unknown reasons Coulomb's Law icon isn't loaded until `launch` completes and hence we have a problem here.  @chrisklus and I tried delaying the validation until the n

[2018-10-11 17:06] samreid commented on #70
Other possibilities:

(1) Add a listener that validates after `launch` completes
(2) Check the Image and if loaded, validate right away.  If not loaded, then add a listener that validates after load.

[2018-10-11 17:12] samreid commented on #70
After further investigation, @chrisklus and I discovered the problem unique to Coulomb's Law is that it is creating the Screens before images are loaded.  We revised that in the above commit and now it's launching well.  Removing from developer meeting and leaving assigned to @jessegreenberg and @mbarlow12 to verify.  Do we need a coding style note that checks Screens are created in launch, or is

[2018-10-11 17:37] mbarlow12 commented on #70
I think there needs to be some documentation. We may also want to update or add some comments to the `grunt create-sim` task as it's not entirely clear there either that the screens must be declared within the `launch` callback.

[2018-10-11 18:04] jessegreenberg commented on #70
Thanks for the help with this @samreid and @chrisklus!

There is some documentation already in SimLauncher.js

And in Image.js

[2018-10-11 19:02] jessegreenberg commented on #70
We could be to add a line of documentation in simula-rasa-main.js to warn that Images shouldn't be create outside of SimLauncher.launch if it is important for their dimensions to be defined.

[2018-10-11 21:30] jessegreenberg commented on #70
I added a comment about this. @mbarlow12 @samreid is this helpful or noise? Otherwise, I think this issue can be closed.

EDIT: I also tested that https://github.com/phetsims/coulombs-law/commit/9888e4ec346751733140e3fd0999c803f5bc9cb0 fixed this issue.

[2018-10-12 03:47] ariel-phet commented on #41
I think this issue can be closed for now. I also tried on Win 7 FF and things seems fine

[2018-10-12 03:47] #41 closed, assigned to jessegreenberg, BryceAG, KatieWoe

[2018-10-15 16:10] KatieWoe commented on #68
@mbarlow12 I'm not seeing this in CT anymore and I didn't notice anything off during dev testing.  Do you want this closed?

[2018-10-15 19:00] mbarlow12 commented on #68
That'd be great, thanks!

[2018-10-15 19:01] #68 closed, assigned to mbarlow12

[2018-10-16 17:56] mbarlow12 commented on #70
Removing my assignment. @samreid I think we can close as well.

[2018-10-16 18:20] arouinfar commented on #58
The dialog is looking good in rc.1, so I think we can go ahead and close this issue.

[2018-10-16 18:20] arouinfar commented on #62
Given that we're now in rc testing (yay!!), I think we can go ahead and close this issue.

[2018-10-16 18:20] #62 closed, assigned to mbarlow12

[2018-10-16 19:54] KatieWoe opened #71 "WASD Translation"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/210
The W, A, S, and D keys in the keyboard nav instructions do not seem to be translatable.  Should they be?
**Steps to reproduce:**
1. Use a stringTest query parameter, such as stringTest=rtl
2. Open the keyboard nav instruction dialog

**Screenshots:**

[2018-10-16 20:03] phet-steele commented on #71
Last discussion of this that I remember was towards the end of https://github.com/phetsims/friction/issues/57.

[2018-10-16 20:11] arouinfar commented on #71
Thanks @phet-steele!

In https://github.com/phetsims/friction/issues/57#issuecomment-350340501, @jessegreenberg said:

It seems (for now, at least) that letter keys should not be translatable. The keyboard dialog in Coulomb's Law seems appropriately translatable to me, so closing.

[2018-10-16 20:11] #71 closed, assigned to mbarlow12

[2018-10-16 20:38] arouinfar commented on #58
For https://github.com/phetsims/QA/issues/210

@phet-steele pointed out the shift modifier was missing from the dialog. Originally, the arrow step size was 0.1 cm, making the shift modifier redundant. However, now that the arrow keys have been increased to 0.2 cm (see https://github.com/phetsims/gravity-force-lab-basics/issues/72), it makes sense to include the shift modifier in the dialog.

@mbar

[2018-10-16 20:43] KatieWoe opened #72 "q1 and q2 labels change size"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox (only one so far)
**Problem description:**
For https://github.com/phetsims/QA/issues/210
Very minor, likely not high priority.  When moving the charges next to each other and away, the small q1 and q2 labels below the charges seem to shift size.  Only seen on firefox so far.  The video was made with showPointerAreas, bu

[2018-10-16 20:47] KatieWoe commented on #72
Edit: Upon further examination, it seems to be caused by dragging, not by being next to the other charge.  The size of the label is different during dragging compared to not being dragged.
Occurs on the labels above the vectors as well.

[2018-10-17 16:22] jessegreenberg opened #73 "Unused string: projectorMode"
When building coulombs-law for https://github.com/phetsims/scenery-phet/issues/411, I noticed that it has an unused string

Code and the string for the projector mode option has  been moved to common code, which is why the string is unused.  I think this string was generally left in sims for compatibility with existing translations, but since this sim hasn't been deployed yet I think it can be rem

[2018-10-17 17:18] rea-laura opened #74 "Keyboard nav focus gets lost in iFrame"
<b>Test Device</b>

Jordan (8B)

<b>Operating System</b>

Mac Mojave 10.14

<b>Browser</b>

Safari 12.0 (14606.1.36.1.9)

<b>Problem Description</b>
For https://github.com/phetsims/QA/issues/210
Full screen in iFrame allows the keyboard nav focus to be lost off screen and cannot be recovered without using the mouse.

<b>Steps to Reproduce</b>

1) open sim in iFrame
2) go to full screen mode
3) pre

[2018-10-17 17:54] KatieWoe commented on #74
Exploring on a few other platforms.  The keyboard nav loops around once, but upon the second time it disappears on Firefox.  Have not seen issue on chrome. Edge also seems to display the problem.

[2018-10-17 19:21] KatieWoe commented on #74
Seen in https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.9/phet/resistance-in-a-wire_en_iframe_phet.html when testing on firefox, though pressing shift + tab would highlight the phet menu and nothing else.  This seems to mean it is not coulombs-law specific.  @jessegreenberg or @mbarlow12  if you want this issue moved to a new repo.

[2018-10-17 19:28] jessegreenberg commented on #74
Hmm, verified in Edge and FF.

[2018-10-17 19:29] jessegreenberg commented on #74
In FF, when leaving full screen mode tab navigation is still broken.

EDIT: ...somteimes.

EDIT: In FF, it allows two full loops through keyboard navigation, then it gets stuck.

[2018-10-17 19:38] jessegreenberg commented on #74
Problem goes away when the dev tools are open.

[2018-10-17 19:53] jessegreenberg commented on #74
Wait, this sounds crazy but in FF, it seems related to the popup that FF shows when entering full screen mode. When you first enter full screen mode, FF pops up a little dialog that says "localhost:8080 is now full screen". As long as that is showing, you can tab navigate all you want. Once it disappears, tab navigation in full screen mode is broken.

[2018-10-17 20:02] jessegreenberg commented on #74
In FF I added this:
[code]
and when focus gets lost, it is printing the "html" element of the iframe document.

[2018-10-17 20:09] jessegreenberg commented on #74
On the other hand, in Edge, we are getting

EDIT: Edge seems to report this even when focus is working correctly, so it doesn't like https://github.com/phetsims/coulombs-law/issues/74#issuecomment-430768382 either way. NOt a good test.

[2018-10-17 20:15] jessegreenberg commented on #74
Moving this issue to scenery since it won't be easy.

[2018-10-17 21:31] ghost opened #75 "Navigation bar icons look bad in Firefox"
For https://github.com/phetsims/QA/issues/210. MacBook Air, Early 2015. macOS 10.14.

Firefox 62.0.3:
![firefox](https://user-images.githubusercontent.com/31285590/47116879-20731700-d220-11e8-9f7c-a24ea3560324.png)

Chrome 70.0.3538.67:
![chrome](https://user-images.githubusercontent.com/31285590/47116891-279a2500-d220-11e8-9252-697c7c471339.png)

Safari 12.0:
![safari](https://user-images.githubu

[2018-10-17 22:01] arouinfar commented on #75
Is it possible that the icons are super aliased because they are being scaled down from the home screen icons? I re-exported the image files for the navbar at a lower resolution.

@mbarlow12 can you try these instead?
[atomic_scale_screen_icon_navbar.png](https://user-images.githubusercontent.com/8419308/47118808-cd9c5e00-d225-11e8-85be-88131477ef97.png)
[macro_scale_screen_icon_navbar.png](https:

[2018-10-17 22:03] mbarlow12 commented on #58
@arouinfar good point! Totally overlooked that.

[2018-10-18 14:50] samreid commented on #70
Looks good, thanks @jessegreenberg, closing.

[2018-10-18 14:50] #70 closed, assigned to samreid, mbarlow12

[2018-10-18 16:22] mbarlow12 commented on #73
@jessegreenberg the string has been removed and no longer raises a flag on build.

[2018-10-18 16:31] jessegreenberg commented on #73
Great, thanks! Reassigning to you to make sure this change gets into the RC branch.

[2018-10-18 16:37] mbarlow12 commented on #72
I'm noticing that what seems to happen is if an object is dragged more than 1 increment, it will sometimes be redrawn a little shorter (for lack of a better term). Then when the dragging stops (not mouse released), the white fill takes up the appropriate space. It almost looks like during the drag, the text gets a tiny grey border that's then filled on dragging stopped.

@KatieWoe have you seen th

[2018-10-18 16:43] KatieWoe commented on #72
Checking out the published version of https://phet.colorado.edu/sims/html/gravity-force-lab/latest/gravity-force-lab_en.html I see it there as well.  It seems to be a specific type of text though, as I didn't see it in things like Balancing Act with its mass label. @mbarlow12

[2018-10-18 22:49] mbarlow12 commented on #58
Shift modifier line added in above commit on the 1.0 branch.

[2018-10-18 23:29] arouinfar commented on #58
@mbarlow12 I'm not seeing it in master. I pulled inverse-square-law-common and coulombs-law. Is there something I overlooked?

[2018-10-22 23:16] mbarlow12 commented on #72
I noticed that Balancing Act only uses our `Text` type, while the super and subscripts in Coulomb's Law require the use of `RichText`.

@jessegreenberg or @jonathanolson is this a result of the `RichText` type, or is it more likely something in the CL implementation? Could we set up a time to pair on it in the next couple days?

[2018-10-23 14:20] jessegreenberg commented on #72
I actually do see this in Balancing Act, see how the label shifts just a bit
![capture](https://user-images.githubusercontent.com/6396244/47366631-1b90e600-d6ac-11e8-9285-ca394c087e01.gif)

So it seems like a general issue with movable text in FF, and should probably be picked up in Scenery. Sorry I am too unfamiliar with Text to be of more help, so removing my assignment. But also assigning to @a

[2018-10-23 14:35] arouinfar commented on #72
@KatieWoe good attention to detail! Keep bringing issues like this to our attention.

I'll go ahead and throw in my 2 cents. Given that this is a scenery issue, and does not meaningfully affect sim interaction, I do not think this should be a blocking issue for Coulomb's Law.

I'll leave it up to @ariel-phet to decide if this issue should be moved to scenery for further investigation.

[2018-10-23 19:30] ariel-phet commented on #72
Not a blocking issue.

[2018-10-24 02:01] jonathanolson commented on #72
Interesting, this looks the most similar to https://github.com/phetsims/scenery/issues/47. It used to be a very obvious quality switch with Firefox SVG-rendered text, where it had a higher-performance lower-quality version for "moving" text, and then once its heuristics determined it was "not moving" it got switched to a higher-quality (presumably lower-performance) version.

@ariel-phet, should I

[2018-10-24 02:17] ariel-phet commented on #72
@jonathanolson yes, please reopen that issue in scenery, close this one

Also notice in a sim like this one in dev, this is happening quite noticeably when you move the sliders. Still not a "blocking issue" but it would be nice to fix if is simple to fix

https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.6.0-dev.3/phet/resistance-in-a-wire_en_phet.html?supportsSound

[2018-10-24 03:17] jonathanolson commented on #72
Reopened the common issue, closing this issue.

[2018-10-24 03:17] #72 closed, assigned to jonathanolson

[2018-10-24 17:20] mbarlow12 commented on #74
@arouinfar I just merged the changes to master. Should be all set on both master and the 1.0 branches!

[2018-10-24 17:21] mbarlow12 commented on #58
@arouinfar I just merged the changes to master. Should be all set on both master and the 1.0 branches!

[2018-10-24 17:25] arouinfar commented on #58
Thanks @mbarlow12. I have one pixel polishing request.

The left/right arrows next to "Move charges" should be left-aligned with the other key icons.
![image](https://user-images.githubusercontent.com/8419308/47449202-4f890b80-d77f-11e8-9c1d-00354378fa3b.png)

[2018-10-26 14:58] KatieWoe opened #76 "CT: AriaValueText"
[code]

[2018-10-26 15:54] mbarlow12 commented on #76
@KatieWoe that was from a previous commit from some dependencies. It appears that CT is passing in full now.

[2018-10-26 19:28] mbarlow12 commented on #73
Updates pulled into 1.0 in https://github.com/phetsims/coulombs-law/commit/9ca81f70a8f938f4d48cbd73b4893127efc86d6e.

[2018-10-29 19:18] jessegreenberg commented on #73
Verified the warning is gone with 1.0 SHAs. Thanks! Going to go ahead and close

[2018-10-29 19:18] #73 closed, assigned to jessegreenberg

[2018-10-29 19:19] jessegreenberg commented on #76
Thanks @KatieWoe and @mbarlow12 since CL is all green on CT im going to close.

[2018-10-29 19:19] #76 closed, assigned to mbarlow12

[2018-10-29 20:51] jessegreenberg commented on #74
This should be fixed in https://github.com/phetsims/scenery/issues/883, @KatieWoe could you please double check master before we merge into the release branch?

[2018-10-29 21:37] KatieWoe commented on #74
@jessegreenberg looks good on all Win 10 and Mac 10.14 browsers when testing resistance in a wire.  The focus stops when it reaches the beginning or end, instead of looping.  Was this the intended fix?  Do you want any testing done one any other platforms or sims?

[2018-10-29 22:16] jessegreenberg commented on #74
Thanks for testing @KatieWoe, that seems like a sufficient test. That was the intended fix (though that should only happen in fullscreen mode).

@mbarlow12 I think we are ready to make a maintenance branch in Scenery for this change. Here is the issue: https://github.com/phetsims/scenery/issues/883

Here is the commit to cherry pick into a scenery maintenance branch: https://github.com/phetsims/sc

[2018-10-30 02:25] mbarlow12 commented on #74
Great news! Thanks @KatieWoe and @jessegreenberg for the help. I'll create the release first thing tomorrow!

[2018-10-30 02:26] mbarlow12 commented on #58
@arouinfar thanks for the spot—fixed in master.

[2018-10-30 20:38] mbarlow12 commented on #75
Should be fixed in the new rc release:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.4/phet/coulombs-law_en_phet.html

[2018-10-30 20:40] mbarlow12 commented on #58
New rc:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.4/phet/coulombs-law_en_phet.html

[2018-10-30 20:41] mbarlow12 commented on #74
Maintenance patch complete and a new rc released:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.4/phet/coulombs-law_en_phet.html

[2018-10-30 21:08] arouinfar commented on #58
Looks great!

[2018-10-30 21:08] #58 closed, assigned to mbarlow12, arouinfar

[2018-11-05 18:09] KatieWoe opened #77 "Zero times ten to the first power"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/214. May be related to https://github.com/phetsims/coulombs-law/issues/12.
When force is zero and scientific notation is on, it reads 0.00x10^1.  It would seem to be more constant for it to say 0.00, as seen in screenshots below.  Or for it to say 0.00x10

[2018-11-05 19:44] KatieWoe opened #78 "Overlap of q1 and q2"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/214.
When stringTest is longer than normal (double, long, rtl, etc.) the q1 and q2 labels overlap.
Steps to reproduce:
1. Set stringTest=double
2. Go to the Atomic Scale screen
3. Drag the atoms close to each other and observe the labels

**Screenshots:*

[2018-11-05 19:55] arouinfar commented on #78
Thanks @KatieWoe. It's unlikely that the q's are going to be internationalized to anything other than
q's (or a single character, for that matter), and the strings would only overlap for a small number of configurations. I don't think there's anything we need to do here.

[2018-11-05 19:55] #78 closed, assigned to mbarlow12, arouinfar

[2018-11-05 19:58] arouinfar commented on #77
@mbarlow12, if the value is 0, can you simply display 0.00?

[2018-11-05 20:35] mbarlow commented on #77
@arouinfar wrong mbarlow :)

[2018-11-05 22:05] mbarlow12 commented on #77
Quite easy! @arouinfar do you want 0.00 for all levels of precision? e.g. the atomic screen would show 0.000 000 000 at the moment. Let me know what you'd like to see.

[2018-11-06 20:57] jessegreenberg opened #79 "branch: a11yTest"
Transient branch to explore a fix for https://github.com/phetsims/scenery/issues/891

[2018-11-06 21:13] KatieWoe opened #80 "Pointer Areas on ruler a bit large"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/214.  Not restricted by device/browser.
The pointer area bounds on the rulers on both screens are a bit large and may lead to them being dragged when they were not clicked on.  Is this intended?
**Steps to reproduce:**
1. Set showPointerAreas
2. Enter eit

[2018-11-06 21:23] arouinfar commented on #80
Good find @KatieWoe. I see no reason for the touch or click areas to extend beyond the physical boundary of the ruler @mbarlow12.

[2018-11-06 21:35] arouinfar commented on #77
@mbarlow12 let's keep  0.000 000 000 for non-scientific notation on the Atomic Scale Screen.

[2018-11-06 21:57] KatieWoe commented on #74
Looks good on 1.0.0-rc.4

[2018-11-06 21:58] KatieWoe commented on #58
Looks good on 1.0.0-rc.4

[2018-11-06 22:27] arouinfar commented on #64
Since we're in RC, @KatieWoe should confirm the QA credits.

[2018-11-06 22:28] KatieWoe commented on #64
@mbarlow12 please add Katie Woessner and Laura Rea please.

[2018-11-06 23:53] mbarlow12 commented on #80
Thanks for _pointing_ that out!!!

(sorry, couldn't resist)

Pointer and touch area bounds reduced to the edge of the ruler in the above commits on the RC branches.

[2018-11-07 00:02] mbarlow12 commented on #74
Removing the blocking label. @rea-laura feel free to close.

[2018-11-07 17:19] KatieWoe opened #81 "Basic Actions Items in Keyboard Nav dialog could be longer"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/214.  Not specific to platform/browser.
The translated strings in the Basic Action section (bottom right of dialog) have a smaller maximum width than the other sections so they get smaller faster.
**Steps to reproduce:**
1. Set stringTest=long
2. Open the

[2018-11-07 17:38] arouinfar commented on #81
Thanks @KatieWoe.

It looks like the left column, Charge Amount, and Basic Actions all have different max widths.
![image](https://user-images.githubusercontent.com/8419308/48149116-947d6980-e278-11e8-8ff0-ab5cfe8226c7.png)

@mbarlow12 can you apply the same max width to all of the strings in the columns? If there's enough room, can you match the max width used for Charge Amount? If not, the max w

[2018-11-07 17:55] KatieWoe commented on #75
Looks good to me 1.0.0-rc.4.  Perhaps a bit more pixelated in firefox than chrome, but much better.

[2018-11-07 17:59] arouinfar commented on #75
Firefox generally has poorer rendering than other browsers, and rc.4 is a definite improvement. I don't think there's anything else we need to do for this issue.

[2018-11-07 17:59] #75 closed, assigned to mbarlow12

[2018-11-07 18:02] KatieWoe commented on #77
@arouinfar I did notice that non-scientific notation for Macro scale is 0.000 N instead.  It looks like this is on purpose though.

[2018-11-07 18:12] arouinfar commented on #77
Correct @KatieWoe. @mbarlow12 was asking about the Atomic Scale screen, so I edited my previous comment to clarify I was talking about the Atomic Scale screen.

Macro Scale should stay 0.000 N in non-scientific notation, as that would be the consistent number of sig figs.

[2018-11-07 18:47] KatieWoe commented on #81
In the same vein, it looks like the scientific notation and force values strings could be longer as well. @arouinfar
![tooshorttwo](https://user-images.githubusercontent.com/41024075/48153163-d57a7b80-e282-11e8-8c7f-6a0eee28afb1.PNG)

[2018-11-07 18:51] arouinfar commented on #81
Good find @KatieWoe. The maxwidth of Scientific Notation and Force Values could be longer, as it looks like there's some dead space to the right of the strings.

[2018-11-08 18:07] mbarlow12 commented on #77
@arouinfar is it alright if we display 0.00 on _both_ screens when reading in scientific notation? This results in 0.000 -> 0.00 in macro screen when checking/unchecking the checkbox. Just want to be sure on this since the discussion has been about the atomic screen mostly.

[2018-11-08 18:25] arouinfar commented on #77
That's correct @mbarlow12. The idea is that zero would be displayed with a consistent number of decimal places depending on the screen/notation. Basically, the number of decimal places would match the non-zero values. To summarize:

**Macro Scale Screen**
* Standard: 0.000
* Scientific: 0.00

**Atomic Scale Screen**
* Standard: 0.000 000 000
* Scientific: 0.00

[2018-11-08 19:04] mbarlow12 commented on #77
Understood—thanks!

[2018-11-14 22:59] mbarlow12 commented on #77
See links for fixes:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.5/phet/coulombs-law_en_phet.html
https://github.com/phetsims/QA/issues/221

[2018-11-14 23:00] mbarlow12 commented on #81
See links for fixes:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.5/phet/coulombs-law_en_phet.html
https://github.com/phetsims/QA/issues/221

[2018-11-14 23:00] mbarlow12 commented on #80
See links for fixes:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.5/phet/coulombs-law_en_phet.html
https://github.com/phetsims/QA/issues/221

[2018-11-14 23:00] mbarlow12 commented on #64
See links for fixes:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.5/phet/coulombs-law_en_phet.html
https://github.com/phetsims/QA/issues/221

[2018-11-14 23:09] KatieWoe commented on #64
Looks good @mbarlow12
Edit: Actually, wait for this, incase more testers work on this rc.  Sorry about that.

[2018-11-14 23:11] KatieWoe commented on #80
Looks good.

[2018-11-14 23:13] KatieWoe commented on #81
I think this looks good.  @arouinfar ?

[2018-11-14 23:15] arouinfar commented on #81
Looks good, thanks @mbarlow12!

[2018-11-14 23:15] #81 closed, assigned to arouinfar, KatieWoe

[2018-11-14 23:18] arouinfar commented on #77
Looks good @mbarlow12!

[2018-11-16 20:20] arouinfar opened #82 "Screenshots"
For https://github.com/phetsims/QA/issues/221

Just realized we don't have any screenshots for this sim! Self-assigning to create some screenshots.

Looks like this slipped through the cracks during code review, but this sim doesn't have an assets directory. @mbarlow12 can you create the assets directory?

[2018-11-16 23:22] arouinfar commented on #82
@KatieWoe let's go with these screenshots. The assets directory is currently missing, so once @mbarlow12 adds it, you can commit the screenshots.

Main:
![image](https://user-images.githubusercontent.com/8419308/48652157-4de7e780-e9bb-11e8-9ebe-af20cd444910.png)

Alternates:
![image](https://user-images.githubusercontent.com/8419308/48652190-7374f100-e9bb-11e8-8fa4-6d2717c08e46.png)
![image](https

[2018-11-20 17:28] KatieWoe commented on #82
Here are the screenshots.  Will put in github when assets is made.  Do they need to go in anything besides the main branch?
![coulombs-law-screenshot](https://user-images.githubusercontent.com/41024075/48791470-0f01ac80-ecaf-11e8-8131-1fc10589868f.png)
![coulombs-law-screenshot-alt1](https://user-images.githubusercontent.com/41024075/48791471-0f01ac80-ecaf-11e8-8657-55d6c825a3c1.png)
![coulombs-la

[2018-11-20 17:39] arouinfar commented on #82
Thanks @KatieWoe! I would put them in master and 1.0 once the assets directory has been created.

[2018-11-20 18:32] KatieWoe commented on #82
Above commits should do it.  Please review and close if acceptable.

[2018-11-20 19:24] arouinfar commented on #82
Looks good @KatieWoe!

[2018-11-20 19:24] #82 closed, assigned to mbarlow12

[2018-11-27 20:04] KatieWoe commented on #77
Looks good on 1.0.0-rc.5

[2018-11-27 20:04] #77 closed, assigned to KatieWoe

[2018-11-27 20:14] KatieWoe commented on #80
Looking at 1.0.0-rc.5 a more significant problem seems to emerge.  When you drag the ruler the pointer area seems to stay there.  When you move your mouse to the stationary pointer area it changes to a hand even though the ruler is gone.  Sorry @mbarlow12 for not catching earlier.
![points](https://user-images.githubusercontent.com/41024075/49108842-63c09c80-f246-11e8-8a31-6f323eba6bf1.gif)
Edit:

[2018-11-27 21:19] KatieWoe opened #83 "Boxes overlap"
For https://github.com/phetsims/QA/issues/221.  Likely connected to https://github.com/phetsims/coulombs-law/issues/81.  When stringTest=double but not long the Charge 2 box and the Force values box overlap.  Discovered on an iPad, but occurs elsewhere.  See image bellow.
![img_1340](https://user-images.githubusercontent.com/41024075/49112194-5c51c100-f24f-11e8-9ca8-43188f07c001.PNG)

[2018-11-27 21:36] KatieWoe opened #84 "Text goes off screen"
**Device**
iPad Air 2
**OS**
iOS 12
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/221.  When strings are long the "force on q by q" strings can be forced off screen.  This can be seen without an iPad by using both stringTest=double and dev query parameters.
**Steps to Reproduce**
1. Set stringTest=double
2. Go to Atomic Scale and make sure scientific notation

[2018-11-27 21:45] KatieWoe commented on #84
Note: Can occur with stringTest=long and the movement of the figure to the left must be done quickly.

[2018-11-27 21:48] arouinfar commented on #84
Nice find @KatieWoe.  Generally speaking, the strings should never escape the `?dev` boundary.

I've also noticed that the 10 pm scale bar can escape `?dev`. While it's unlikely that pm would get internationalized, let alone translated into 5+ characters, I would think that @mbarlow12 could set an appropriate maxWidth to keep this string on screen.
![image](https://user-images.githubusercontent.co

[2018-11-27 21:54] arouinfar commented on #83
Good catch @KatieWoe!

Comparing Macro Scale to Atomic Scale, it seems that the problem is that the Charge panels haven't been given a maxWidth. Macro scale has longer units (μC) compared to Atomic Scale (e), which leads to a wider panel.
![image](https://user-images.githubusercontent.com/8419308/49113838-c2d8de00-f253-11e8-8bb8-432e9d46eafd.png)
![image](https://user-images.githubusercontent.com/

[2018-11-27 22:35] KatieWoe opened #85 "Legends of Learning Freeze"
For https://github.com/phetsims/QA/issues/221.  When LoL has paused the sim, try and drag objects around, especially across the "paused" dialog.  The dialog may become highlighted.  When this occurs the LoL page freezes and must be refreshed.  I have only seen this on Edge.

[2018-11-27 22:53] KatieWoe opened #86 "Figure won't move past a point"
For https://github.com/phetsims/QA/issues/221.  Issue for keyboard nav that was encountered on Edge in the XHTML version but was unable to replicate. The figure on the right in Macro Scale was unable to move to the left past a certain point. I had been in full screen before, and the point it stopped was a bit to the right of the the middle of the screen. Dragging by mouse was not effected. After w

[2018-11-27 23:49] KatieWoe commented on #86
Now occurred on Win 7 IE, non-XHTML.  May be connected to moving to the atomic scale screen and back.

[2018-11-28 00:46] arouinfar opened #87 "Update color of dashed lines"
For https://github.com/phetsims/QA/issues/221

In GFL(B), the color of the dashed lines was meant to match up with the masses. In CL, charges can be red or blue, which can lead to this somewhat odd-looking situation.
![image](https://user-images.githubusercontent.com/8419308/49120422-c7a88c80-f269-11e8-9c48-381e60c815df.png)

We could either

1. Make both lines gray. `rgb(180, 180, 180)` would wor

[2018-11-28 01:08] arouinfar opened #88 "Macro Screen: Consider limiting force values to 4 digits (rather than 3 decimals) in standard notation"
In Standard Notation, the values on the Macro screen tend to have more decimals than is particularly useful.  For very large values, the decimals are irrelevant. For very small values, extra decimal places would be helpful.

Rather than displaying 3 decimals, we could instead limit the force value readout to 4 digits. The smallest values would still retain 3 decimal places (X.XXX) and the largest

[2018-11-28 01:13] arouinfar commented on #85
@KatieWoe can you reproduce this issue with the LoL harness using other sims?

[2018-11-28 01:29] arouinfar commented on #86
@KatieWoe some screenshots of where the figure gets stuck would be helpful. Were the charges close to one another?

[2018-11-28 15:39] arouinfar opened #89 "Dilate touch areas on charge NumberControls"
For https://github.com/phetsims/QA/issues/221

@kathy-phet commented that the charge controls were a bit tricky to use on mobile, and recommended dilating the touch areas a bit.

There's plenty of room, so I think something like this would be helpful @mbarlow12.
<img width="559" alt="screen shot 2018-11-28 at 8 38 30 am" src="https://user-images.githubusercontent.com/8419308/49162874-177a6880-f2e9

[2018-11-28 15:44] KatieWoe commented on #85
Was able to reproduce on https://github.com/phetsims/QA/issues/216 and https://github.com/phetsims/QA/issues/196.  It seemed a bit more difficult there for some reason.  It helps to drag slowly and let go as soon as you see the highlight.

[2018-11-28 15:48] KatieWoe commented on #86
The placement of the other charge didn't really matter, and the place where the charge gets stuck was different each time.  The first time, q2 was about here.  But I saw q1 get stuck at both ~3.5 and ~6.5 (from memory, not exact).
![stuck locate](https://user-images.githubusercontent.com/41024075/49163471-67a5fa80-f2ea-11e8-862f-e462e454e68d.PNG)

[2018-11-28 16:18] KatieWoe opened #90 "Charges jump when keyboard nav is used"
**Device**
hp Laptop
**OS**
Win 7
**Browser**
IE
**Problem Description**
For https://github.com/phetsims/QA/issues/221.  Issue doesn't appear on all platforms.  When keyboard nav is used to highlight one of the charge figures, that figure may jump to the side slightly.
**Steps to Reproduce**
1. Open the sim with internet explorer
2. Go to either screen
3. Use keyboard nav to move one of the figure

[2018-11-28 16:20] arouinfar commented on #85
Thanks @KatieWoe! Looks like this is a general LoL issue, so this issue should be moved to the appropriate common repo (though not sure which one, sorry).

[2018-11-28 16:33] jessegreenberg commented on #86
I spent about 5 minutes playing with the charges trying to reproduce with xhtml/coulombs-law_all_phet.html out of master on Edge and could not reproduce. Ill try the RC.

[2018-11-28 16:33] jessegreenberg commented on #90
I observed this often while looking into #86 (only in Edge)

[2018-11-28 16:41] KatieWoe commented on #86
Yeah, I've had trouble reliably reproducing it.  Sorry

[2018-11-28 16:42] jessegreenberg commented on #86
I was able to reproduce in the RC with this configuration:
![capture](https://user-images.githubusercontent.com/6396244/49167073-a778dc00-f302-11e8-809a-f431ff0cae88.PNG)

I was in full screen mode when the issue first happened, and after exiting full screen mode the problem persisted.

EDTI: This was in Edge.

[2018-11-28 16:43] jessegreenberg commented on #86
Same configuration, problem occurred again in master, but the charge stopped at the 5.4 mark.
EDTI: This was in Edge.

[2018-11-28 17:06] jessegreenberg commented on #86
I was just able to reproduce this in Chrome in master, and found that the max attribute on the slider isn't set correctly
![capture](https://user-images.githubusercontent.com/6396244/49168650-f70cd700-f305-11e8-973c-eef6ca8288f3.PNG)

This was the setup, the max attribute on the input should be more like 0.013 (left edge of charge 2)
![image](https://user-images.githubusercontent.com/6396244/49168

[2018-11-28 17:14] jessegreenberg commented on #86
When a charge is zero, the enabled ranges aren't changing. It looks like updateRange is called when force changes and radius changes.

There is a comment here:
[code]

I guess this actually isn't true when charge is zero, so we need to update the range when position changes too. @mbarlow12 does this seem reasonable?

[2018-11-28 17:14] rea-laura opened #91 "Ruler pointer area gets left behind when ruler is moved"
<b>Test Device</b>

Jordan

<b>Operating System</b>

iOS Mojave 10.14.1

<b>Browser</b>

Chrome 70.0.3538.110

<b>Problem Description</b>

In https://github.com/phetsims/QA/issues/221:
When ruler is moved, the pointer area remains in the ruler's original spot. User can then interact with the ruler by selecting either the ruler item or the space where it used to be.

Also appears in Firefox and on

[2018-11-28 17:41] jessegreenberg opened #92 "Reentry detected in Edge"
For some reason, I am seeing reentry errors in master, but so far only in edge. Happens when updating the range of the objects.

My guess right now is that the flow is like
- Position changes
  - Force changes
    - enabled range changes
      - forces position to change?

Assigning to @mbarlow12 because he is responsible dev, but also myself since I have easy access to Edge.

[2018-11-28 17:43] jessegreenberg commented on #92
I see in the call stack that we are handling both input AND keydown in edge. I would have expected               event.preventDefault(); to prevent this.

[2018-11-28 17:46] jessegreenberg commented on #92
This is also definitely the cause of #90

[2018-11-28 17:57] jessegreenberg commented on #92
It appears that preventDefault isn't working because input event isn't cancelable (like the change event). So we need to do something else. This isn't a problem because Chrome doesn't trigger the input event on sliders.

[2018-11-28 17:58] jessegreenberg commented on #86
I am thinking something like this, but haven't been able to test yet because of #92
[code]

[2018-11-28 18:01] jessegreenberg commented on #92
@mbarlow12 I verified that this doesn't impact the coulombs-law RC because handleInput was added to AccessibleSlider after SHAS for 1.0 were taken.

[2018-11-28 18:05] arouinfar commented on #80
https://github.com/phetsims/coulombs-law/issues/80#issuecomment-442201335 seems like a separate issue, which has been reported in  https://github.com/phetsims/coulombs-law/issues/91. I'll move @KatieWoe's comment to that issue, and close this one.

[2018-11-28 18:05] #80 closed, assigned to mbarlow12, KatieWoe

[2018-11-28 18:05] arouinfar commented on #91
@KatieWoe has also noticed this issue in https://github.com/phetsims/coulombs-law/issues/80#issuecomment-442201335. Here's her description:

![points](https://user-images.githubusercontent.com/41024075/49108842-63c09c80-f246-11e8-8a31-6f323eba6bf1.gif)
Edit: dragging the stationary pointer area causes the ruler to move.

[2018-11-28 18:10] arouinfar commented on #92
While not strictly for https://github.com/phetsims/QA/issues/221, I'm tagging it because this'll need to be addressed before publication.

[2018-11-28 18:13] jessegreenberg commented on #92
Setting the 'min' attribute is causing the `input` event to trigger.
```self.setAccessibleAttribute( 'min', enabledRange.min );```,

And so is blur (sometimes).

[2018-11-28 18:56] jessegreenberg commented on #92
One potential fix is to block input events when changing the min and max attributes. After fuzz testing and manual testing I haven't been able to reproduce the bug. But this didn't fix #90 and I still think they may be related so Ill investigate that issue before commiting this.

[2018-11-28 19:11] jessegreenberg commented on #90
This is caused by the step size, which is 0.1 in this sim.
[code]

If I change accessibleDecimalPlaces in this sim to 3, the problem goes away. From https://github.com/phetsims/sun/issues/413, I think we need to make this a required parameter or change how this is set.

[2018-11-28 19:24] jessegreenberg commented on #92
If I use "any" as the value for the step attribute, this problem goes away, see https://github.com/phetsims/sun/issues/413

[2018-11-28 19:25] jessegreenberg commented on #90
If I use "any" as the value for the step attribute, this problem goes away, see phetsims/sun#413

[2018-11-28 19:31] KatieWoe commented on #86
It does actually occur on atomic scale as well

[2018-11-28 19:55] jessegreenberg commented on #92
Input event is still triggered sometimes when range of slider updates.

The flow of reentry is
- position changes
  - force changes
    - enabled range changes
      - triggers an input event
        - input listener triggers position change

[2018-11-28 22:27] jessegreenberg commented on #92
The above commit blocks input events after capturing a keydown event, which is OK since `keydown` handles all keyboard logic and `input` is purely there for assistive devices without keyboards. This has been fixed in master, and doesn't need to be included in the release since RC shas of sun with AccessibleSlider don't include `handleInput`. Closing.

[2018-11-28 22:27] #92 closed, assigned to mbarlow12, jessegreenberg

[2018-11-28 22:28] jessegreenberg commented on #90
@KatieWoe this should be fixed with https://github.com/phetsims/sun/commit/31b65ddaeb9cfe49c99968c79952b6ce42ef1f97, can you please confirm?

[2018-11-28 22:39] KatieWoe commented on #90
Seems to be fixed on master version of Coulomb's Law using Win 10 Internet explorer.

[2018-11-29 15:57] mbarlow12 commented on #86
@jessegreenberg That sounds reasonable. I think that the function above could entirely replace the foceProperty linked function. Since we're linking to the radius properties anyway, I don't see why we should link to the derived property at all. What do you think?

[2018-11-29 15:59] jessegreenberg commented on #86
Sounds good, I agree that position and radius seems sufficient.

[2018-11-29 16:48] mbarlow12 commented on #87
@arouinfar I was able to have the color update along with the charge value. The colors themselves are a little muted compared to the slider thumb, but that can easily be changed if desired.

[2018-11-29 17:06] arouinfar commented on #87
That's great @mbarlow12. I pulled all, but I'm not seeing any color changes. Did you commit the changes to master?

[2018-11-29 17:32] mbarlow12 commented on #87
No I didn't. They're made in 1.0 branch currently. I'll be sure to pull them ASAP.

[2018-11-29 18:14] mbarlow12 commented on #87
@arouinfar I just merged the branches into master.

[2018-11-29 20:25] arouinfar commented on #87
Looks awesome @mbarlow12! Thanks.

[2018-11-30 17:38] jessegreenberg commented on #90
Thanks @KatieWoe, sounds good. Sun SHA https://github.com/phetsims/sun/commit/31b65ddaeb9cfe49c99968c79952b6ce42ef1f97 is the one we will need for the RC. @mbarlow12 if you run into any trouble pulling in the change please let me know.

[2018-11-30 21:53] mbarlow12 commented on #90
@jessegreenberg thanks—will do.

[2018-12-06 17:17] kellywurtz commented on #89
On rc.6, looks like the slider touch area size increased, but not the arrows. Looking on Windows 10 Chrome.

![image](https://user-images.githubusercontent.com/42352972/49600222-f1377700-f93f-11e8-81b5-2aaee66df07b.png)

[2018-12-07 01:00] ghost opened #93 "Moving one charge can move the other charge"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.14

<b>Browser</b>

Firefox 63.0.3

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/235. See title and visuals.

<b>Steps to Reproduce</b>

1. Macro Scale.
2. Move one of the charges back and forth.

<b>Visuals</b>

![issue](https://user-images.githubusercontent.com/31285590/49620970-7b073480-f980-11e8-9423-2b

[2018-12-07 16:19] rea-laura commented on #84
@mbarlow12
Problem mostly fixed but still occurs in https://github.com/phetsims/QA/issues/235. Works fine if figure is moved _slowly_, but will still happen is figure is moved _quickly_ off the screen.

Device:
Magnus

Browser:
Safari 11.1.2
Firefox 63.0.3

To Replicate:
1) open sim with ?stringTest=double.
2) go to atomic scale
3) ensure scientific notation is on
4) resize safari window until sim

[2018-12-07 17:45] KatieWoe commented on #90
1.0.0-rc.6 looks good on Win 10 IE

[2018-12-07 17:45] #90 closed, assigned to mbarlow12

[2018-12-07 18:36] KatieWoe commented on #87
1.0.0-rc.6 this looks good.

[2018-12-07 18:36] #87 closed, assigned to mbarlow12

[2018-12-07 18:38] KatieWoe commented on #91
1.00-rc.6 this is fixed

[2018-12-07 18:38] #91 closed, assigned to mbarlow12

[2018-12-07 19:03] KatieWoe commented on #83
1.0.0-rc.6 looks good.

[2018-12-07 19:03] #83 closed, assigned to mbarlow12

[2018-12-07 19:05] arouinfar commented on #84
@mbarlow12 I observed what @rea-laura describes in macOS 10.13.6/latest Chrome. I compared to the published version of GFL, and the issue is not present there.

I can get the string to go off-screen on Macro Scale and Atomic Scale. The issue can occur whether or not Force Values or Scientific Notation is on, so long as `?stringTest=double` is used. I cannot, however, get the string to go off-scree

[2018-12-07 19:09] arouinfar commented on #93
@lmulhall-phet is this a Firefox-only issue? I wonder if this is another manifestation of https://github.com/phetsims/wave-interference/issues/212 (which is a known Firefox issue).

[2018-12-07 19:23] arouinfar commented on #93
@lmulhall-phet @KatieWoe I am unable to reproduce this issue in macOS 10.13.6. I've tested the latest Chrome, Firefox, and Safari. I've also tested with and without various stringTests.

[2018-12-07 19:26] arouinfar commented on #89
Good catch @kellywurtz. @kathy-phet's original concern was more with the tweakers, so it'd be good to fix @mbarlow12.

[2018-12-07 19:33] KatieWoe commented on #86
1.0.0-rc.6 this seems fixed.

[2018-12-07 19:33] #86 closed, assigned to mbarlow12

[2018-12-07 19:43] JRomero0613 opened #94 "Keyboard Nav Issues"
For https://github.com/phetsims/QA/issues/235 when testing keyboard navigation it was discovered that the esc button does not exit a dialogue as it should. This can be seen by opening the keyboard navigation menu and attempting to exit using the esc button. Another issue that was found is that enter can be used to select any selectable area apart from the "Force Values" and "Scientific Notation" b

[2018-12-07 20:14] KatieWoe commented on #93
From Slack:
Kathryn Woessner [12:40 PM]
I didn't see it on my Win 10

Kathryn Woessner [1:00 PM]
I was able to reproduce it on the 10.14 firefox, but it was really hard to see and wasn't consistent in where and how it happened.  So I may have missed it, but I don't think so.

Amy Rouinfar [1:00 PM]
Thanks for looking into it!
Seems like a super edge case
And it might just be part of the series of

[2018-12-07 20:18] arouinfar commented on #94
@JRomero0613 what platform were you testing on? Can you reproduce on other browsers/platforms?   Esc is working correctly for me in macOS 10.13.6/Chrome, so long as the focus is on the close button. If you open the dialog with a mouse, you'll need to first press tab to get focus on the exit button before esc works.

Good observation @JRomero0613. Checkboxes are only selectable with space, not ente

[2018-12-07 20:37] arouinfar commented on #93
@KatieWoe and @lmulhall-phet have only been able to reproduce this issue in MacOS 10.14/Firefox, and it occurs somewhat inconsistently. The wiggle is also pretty subtle.

@lmulhall-phet confirmed that the wiggle doesn't cause a change in the forces, so it would appear that the model values are unchanged. I do not believe this would cause any pedagogical issues, and would be fine with publishing CL

[2018-12-07 20:56] rea-laura commented on #84
@mbarlow12 @arouinfar I just reproduced this problem using the ?stringTest=long query parameter on Windows 7 in the most recent chrome and IE. It's trickier to do, and you might have to play a bit with the window size.

[2018-12-07 21:20] ghost opened #95 "Sometimes ruler can't be moved"
For https://github.com/phetsims/QA/issues/235. The only confirmed sighting of this bug is on Win10 + Edge. It's basically the title. I have no idea how to reproduce. I will edit this issue and add details when/if I have more info.

[2018-12-10 20:50] KatieWoe opened #96 "Crash on iOS 10"
For https://github.com/phetsims/QA/issues/235
Mentioned in QA issue.  On iOS 10 the sim froze and crashed fairly quickly. This also seemed to happen in graphing quadratics, but it was determined to be an issue with the device, which may be the case here.  I reset device and it seemed better, but crash still occurred after 10 minutes.  This is GQ issue in question: https://github.com/phetsims/graph

[2018-12-10 20:56] KatieWoe commented on #96
showPointerAreas caused crash very quickly.  This typically lowers performance, but may cause concern.

[2018-12-10 20:58] pixelzoom commented on #96
Slack:

Chris Malley [1:56 PM]
Hmmm.. As I recall, GQ crashed with “A problem occurred with this webpage so it was reloaded”, and then reloaded.   It sounds like CL is crashing and freezing, which is different.

Kathryn Woessner [1:57 PM]
It did both.  At first it froze.  I refreshed and then it crashed with the error message and refreshed itself.  Its crashed with the error message a few time sin

[2018-12-10 20:58] arouinfar commented on #94
@KatieWoe can you reproduce this issue?

[2018-12-10 20:59] KatieWoe commented on #94
I can try, but it would be helpful to know what device it was on.  I'll ask @JRomero0613 on slack.

[2018-12-10 21:08] JRomero0613 commented on #94
@arouinfar I can't recall which device it was for certain but it was either macOS 10.13 on all browsers or Windows 10 on all browsers. I'm pretty sure it was Windows 10 as I just tried on a Windows 10 device (desktop) and the esc button does not exit the keyboard navigation menu. As an additional note if the "x" button in the top right corner on the keyboard navigation menu is highlighted by using

[2018-12-10 21:25] KatieWoe commented on #96
Attempted to recreate while tethered to console.  For some reason, even when showPointerAreas was on, the sim did not crash.  Performance was low.  No error showed in the console.

[2018-12-10 21:29] KatieWoe commented on #96
Clearing cache, running in private mode, and clearing all website data did not solve the problem.

[2018-12-10 21:37] KatieWoe commented on #96
Playing with graphing quadratics with showPointerAreas for a few minutes did not produce the same behavior.  I think now this is an issue with the sim and not the device.

[2018-12-10 22:19] KatieWoe commented on #96
Crash occurs when using on Legends of Learning very quickly.  To the point that I can't test legendsOfLearning.

[2018-12-10 22:21] KatieWoe commented on #96
Only seemed to effect the iOS 10.

[2018-12-10 22:34] mbarlow12 commented on #96
@KatieWoe so it's only on iOS 10 when using LOL? or iOS 10 in general?

[2018-12-10 22:40] arouinfar commented on #94
Thanks @JRomero0613.

 The esc key is only meant to exit the dialog if the focus (magenta rectangle) is on the dialog's close button. If you opened the dialog with the mouse (or tabbed away from the close button), escape will not close the dialog.

It sounds like esc exits the dialog so long as the focus is on the close button. If I've understood correctly, please close this issue @JRomero0613.

[2018-12-10 22:46] KatieWoe commented on #96
iOS 10 in general is crashing with this sim, and doing so particularly fast when on LoL.

[2018-12-11 00:07] ariel-phet commented on #96
@KatieWoe can you do two things for me:

1. Can you try running this sim from master on iOS10 and see if it crashes (just as another data point)
2. Can you try running Gravity Force Lab from the website and see if it crashes https://phet.colorado.edu/en/simulation/gravity-force-lab

[2018-12-11 15:56] KatieWoe commented on #96
1. I put showPointerAreas on CL master and after several minutes it does not seem to be crashing (though there are two pointer areas around the ruler).
2. Have not gotten GFL to crash after several minutes.
@ariel-phet

[2018-12-12 19:01] mbarlow12 commented on #96
@KatieWoe I don't have access to an iOS 10 device. Is there any other info you can provide? In https://github.com/phetsims/graphing-quadratics/issues/116#issuecomment-445967914, you implied it might have to do with the device. Has the crash been observed on a different iOS 10 device?

[2018-12-12 19:07] mbarlow12 commented on #94
@arouinfar Thank you for the comments! @JRomero0613 let me know if you have any further questions. Unassigning myself.

[2018-12-12 19:08] mbarlow12 commented on #95
@lmulhall-phet Do you have any updates or more details?

[2018-12-12 19:10] KatieWoe commented on #96
We only have one iOS 10 device, so it can't really be checked on another.  However, since I went back and did similar tests on graphing-quadratics, master version of CL, and published GFL and did not see nearly the same behavior I think my initial assessment that it was the device was premature.

[2018-12-12 19:53] mbarlow12 commented on #96
@KatieWoe what's the Safari version? And are there any logs, console, or error messages?

[2018-12-12 19:57] mbarlow12 commented on #93
I'm unable to reproduce as well and tend to think it's an odd FF issue. SR created a new issue related to phetsims/wave-interference#121, so we're good on that.

@ariel-phet are we ok to proceed without a fix?

[2018-12-12 19:58] KatieWoe commented on #96
Safari version is the same as the OS since mobile safari is tied to iOS, so 10.3.3.  I tethered the iOS 10 device to a Mac and looked at the console yesterday but there were no errors/messages and for some reason it seemed to prevent the sim from crashing, even with showPointerAreas on.  Performance was still poor, but the sim would not crash.  Disconnecting it brought the problem back with the sa

[2018-12-12 20:05] mbarlow12 commented on #96
Would you be willing to perform the same tests on the RC 5 and 4 releases? The [test harness for 4](https://docs.google.com/spreadsheets/d/17BEdTv1KM1Tq6kyi3fxo15znqRH6iw8pyc4axE47eeM/edit#gid=1380557997) indicates that iOS 10 passed at that point, while the RC5 spot check doesn't look like it touched that.

[2018-12-12 20:06] mbarlow12 commented on #96
Perhaps we can isolate the changes or dependency updates that have led to this.

[2018-12-12 20:13] phet-steele commented on #96
The version number of Safari in that iOS is 602.1 (it's in the user agent of the troubleshooting info and what you should be putting in the test matrices). This is important since safari 602.1 is used in ALL versions of iOS 10 (so 10.0, 10.0.1. 10.0.2, etc...), not just 10.3.3.

[2018-12-12 20:15] KatieWoe commented on #96
@phet-steele that's good to know.  Thanks

[2018-12-12 20:23] KatieWoe commented on #96
So this is super weird.  I just pulled up rc.6 to get a baseline on it, and it seems to be fine right now.  No crashing, even with LoL, where it crashed in a few seconds before.  Nothing I tried with the device was fixing it the other day and now it seems to be better.  I'm really baffled, but it's back to maybe not being a problem with the sim.

[2018-12-12 22:43] ghost commented on #95
Unfortunately, no. I spent a good long while trying to find a way to reproduce and sadly I didn’t find a way. Katie and I are beginning to think it was a fluke.

Katie did witness the bug. I’m not crazy.

Given that it’s so hard to reproduce, we might be able to safely ignore it, but I defer to you and @KatieWoe on that.

[2018-12-12 23:54] ariel-phet commented on #93
@mbarlow12 yes, OK to proceed without a fix.

Marking as deferred but leaving open, we can recheck this issue the next time this sim gets redeployed. Feel free to remove your assignment.

[2018-12-12 23:58] KatieWoe commented on #95
I think it might be safe, but I'm a bit wary. @ariel-phet what do you think?

[2018-12-13 00:34] ariel-phet commented on #95
@KatieWoe @mbarlow12 given the difficulty to reproduce (and the platform), I am totally fine closing this issue. MS is planning on getting rid of the current incarnation of Edge in favor of a browser based on Chromium, so we can take Edge bugs with a grain of salt.

Closing

[2018-12-13 00:34] #95 closed, assigned to ariel-phet

[2018-12-19 20:17] arouinfar commented on #89
Tagging https://github.com/phetsims/QA/issues/235 so this issue shows up in the list.

@mbarlow12 I don't see any recent commits here, so not sure if https://github.com/phetsims/coulombs-law/issues/89#issuecomment-444953246 was addressed or not.

[2018-12-19 20:21] arouinfar commented on #94
Removed `type:bug` and added `type:wontfix` since I believe @JRomero0613 was encountering intended behavior.

[2018-12-19 20:22] #74 closed, assigned to rea-laura

[2018-12-19 20:29] kathy-phet commented on #89
phettest looks smaller than the above screenshot, so something looks like it was reverted. Do please increase both tweekers and thumb.
![image](https://user-images.githubusercontent.com/5096804/50246287-26a58100-0392-11e9-9c23-042114e019a1.png)

[2018-12-19 22:39] kathy-phet commented on #89
The above was seen on phettest. Amy thought that perhaps the change Kelly saw was not done on master? @mbarlow12 - please make sure master has any of the fixes too.

[2018-12-20 18:52] rea-laura opened #97 "Forces are not equal and opposite"
<b>Test Device</b>

Leibniz

<b>Operating System</b>

iOS 12.1

<b>Browser</b>

Safari 12.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/242:
When one mass is moved, the other's force will not update until it is moved as well.

Occurs on all platforms tested so far (iOS 12, MacOS 10.14 Safari and Firefox, Windows 10 chrome)

<b>Steps to Reproduce</b>

1) open sim
2) note

[2018-12-20 19:11] arouinfar commented on #97
Yikes, nice find @rea-laura.

Strangely, this bug doesn't appear to be in master, or the other ISLC siblings.

[2018-12-20 19:22] mbarlow12 commented on #97
I had some lines commented out while dealing with the issue for text going off screen. Sorry for the confusion.

[2018-12-20 19:24] arouinfar commented on #97
Since QA is early on in the spot check, would it be better to publish a new rc and test that instead @mbarlow12 @ariel-phet?

[2018-12-20 19:31] mbarlow12 commented on #97
I'm investigating just re-releasing the same RC. If that's not ok, I'll bump to RC.8.

[2018-12-20 19:32] kathy-phet commented on #97
Last time I asked JO about this, he said in general bumping the RC is easiest.

[2018-12-20 19:33] mbarlow12 commented on #97
Ok—will do.

[2018-12-20 19:48] mbarlow12 commented on #97
New RC:
https://phet-dev.colorado.edu/html/coulombs-law/1.0.0-rc.8/phet/coulombs-law_en_phet.html

[2018-12-20 19:54] kathy-phet commented on #97
thx

[2018-12-20 20:04] arouinfar opened #98 "Update screenshot-alt1"
@KatieWoe  in light of #87, [coulombs-law-screenshot-alt1](https://github.com/phetsims/coulombs-law/blob/master/assets/coulombs-law-screenshot-alt1.png) will need to be retaken. Since alt screenshots do not yet live in any public-facing place, this isn't particularly high priority and can be done after https://github.com/phetsims/QA/issues/243 wraps up.

[2018-12-20 20:09] KatieWoe commented on #89
This looks good 1.0.0-rc.8

[2018-12-20 20:09] #89 closed, assigned to mbarlow12

[2018-12-20 20:20] rea-laura commented on #84
For https://github.com/phetsims/QA/issues/243:
Fixing this issue might have lead to another problem.

<b>Issue</b>
Scale bar sizes down when strings are long.

<b>Device and Browser</b>
Leibniz, iOS 12.1
Safari 12.1

<b>Steps to Reproduce</b>
1) open sim. Note that scale bar in the bottom left corner is slightly cut off by edge of screen.
![4fef6541-eec7-46cd-a6b2-8b9f35575dd1](https://user-images

[2018-12-20 20:31] KatieWoe commented on #84
Note for above: I think that part 1 only occurs on the first screen.  Rest still apply.

[2018-12-20 20:36] rea-laura commented on #84
New find - the shorter the string, the more the scale bar is cut off by window.
![image](https://user-images.githubusercontent.com/44005544/50309470-3093b680-045c-11e9-8deb-838a44c5424c.png)

[2018-12-20 21:59] arouinfar commented on #84
It seems like the position of the scale bar depends on the text. The position of the scale bar in rc.6 is
a few px away from the layoutBounds, which is correct:

![image](https://user-images.githubusercontent.com/8419308/50312983-3ba01400-0467-11e9-9e97-596c8f2d69c8.png)

The scale bar should never move. The text label should be centered above it, and its maxWidth could be something like this (mag

[2018-12-20 22:03] KatieWoe commented on #84
The part of this issue that involves the Force value strings getting pushed off screen does seem fixed in 1.0.0-rc.8

[2018-12-20 22:08] KatieWoe commented on #84
Worse off screen behavior when stringTest is short.  This does appear on both screens.
![worsewithshort](https://user-images.githubusercontent.com/41024075/50313605-2a580700-0469-11e9-954e-720784250082.PNG)

[2018-12-20 22:31] phet-steele commented on #64
QA credits should still be alphabetized by last name (like all of our other sims).

[2018-12-20 22:34] KatieWoe commented on #97
This seems fixed in 1.0.0-rc.8

[2018-12-20 22:51] arouinfar commented on #84
@mbarlow12 I have one more nit-pick about the scale bar.

The scale bar moves when switching screens in rc.8, but that didn't seem to be the case in rc.6. The behavior is rc.6 is desired.

rc.6: same padding between layoutBounds and scale bar
![image](https://user-images.githubusercontent.com/8419308/50315180-e9fb8780-046e-11e9-9f1e-093e32e12e92.png)

![image](https://user-images.githubusercontent

[2018-12-20 22:55] mbarlow12 commented on #84
@arouinfar thanks for the clarification. After slowing down a bit, I believe I have the proper solution that both aligns the legend and label and ensures they have consistent spacing from the dev bounds.

Fixed in master and I'm working on prepping the new RC.

[2018-12-20 22:57] arouinfar opened #99 "[Atomic Scale] Use MathSymbols.TIMES in scale bar readout"
For https://github.com/phetsims/QA/issues/243

@phet-steele noticed that the multiplication symbol used in the scale bar on the Atomic Scale screen is the letter x, not MathSymbols.TIMES. This was addressed for scientific notation in https://github.com/phetsims/inverse-square-law-common/issues/50, but it looks like we missed this one.

![image](https://user-images.githubusercontent.com/8419308/503

[2018-12-20 23:33] KatieWoe opened #100 "Keyboard nav issue when starting after charge slider"
For https://github.com/phetsims/QA/issues/243
Keyboard nav seems to behave a bit oddly if you start in after manipulating one of the charge sliders. I'm in firefox, but chrome was being a bit odd too. I don't think its broken, but you might want to take a look for yourself. It takes two key presses to start in firefox, and it starts in an unexpected location.
But it doesn't do this if you were man

[2018-12-20 23:36] mbarlow12 commented on #100
@KatieWoe I've confirmed the same behavior in Rutherford Scattering as well, so this is an issue for scenery-phet for the NumberControl. Making an issue and linking.

[2018-12-21 00:24] arouinfar opened #101 "Force Values should display a magnitude"
For https://github.com/phetsims/QA/issues/243

The Force Values should display the magnitude of the force, and should never be negative. The vector shows the direction of the force, while the Force Value represents the magnitude only.

Currently, the Force Value displays a negative sign when the force is attractive.
![image](https://user-images.githubusercontent.com/8419308/50317932-7b70f680-047b-

[2018-12-21 00:32] arouinfar opened #102 "Swap main screenshot with screenshot-alt2"
For https://github.com/phetsims/QA/issues/243

To make Coulomb's Law more visually distinct from from GFL, @kathy-phet suggesting using the screenshot of the Atomic Scale screen (alt2) as the main screenshot.

@KatieWoe can you swap  the names of [coulombs-law-screenshot](https://github.com/phetsims/coulombs-law/blob/master/assets/coulombs-law-screenshot.png) and [coulombs-law-screenshot-alt2](htt

[2018-12-21 01:38] ariel-phet commented on #101
@arouinfar a bit of a hairy question, because sometimes people teach that for the equation

F=k*q1*q2/(r^2) that a negative result means attractive and a positive result means repulsive.

I don't personally like that approach to teaching Coulomb's law, and I also think that given the depiction in the sim, it is totally reasonable to think of the force value purely as a magnitude. It doesn't really

[2018-12-21 16:11] kathy-phet commented on #102
I think it was actually Oliver who suggested it, but I agree. :)

[2018-12-21 17:51] arouinfar commented on #102
Thanks for the suggestion @oliver-phet. :)

[2018-12-21 18:10] kathy-phet opened #103 "Force value readout: Consider semi-transparent black background box"
It seems like the white text of the force readout on the left hand ball could benefit from having a semi-transparent black background box so when it overlaps the line dropping down to the ball on the right it is a bit more readable with less interference from the line.

This is minor and can be considered when outfitted with dynamic description.

[2018-12-21 21:48] jessegreenberg commented on #100
@mbarlow12 I verified that this issue is fixed from the phetsims/scenery-phet#452.

[2018-12-21 21:55] jessegreenberg commented on #99
@mbarlow12 is it possible to use MathSymbols.TIMES for this?

[2018-12-21 22:53] mbarlow12 commented on #99
My hesitation there is that the text is coming from the `...string_en.json` file at the moment, so I can't use the MathSymbols object. Since it's static, I'd prefer to keep it in the strings file, and there is ample precedent for including minor HTML within the translatable strings.

I can still split the text into different nodes to allow for using MathSymbols, but that seems overkill for this ca

[2018-12-22 02:26] jessegreenberg commented on #100
Removing my assignment, I think this is fixed-pending-testing.

[2018-12-22 17:05] arouinfar commented on #101
Looks good in rc.9. Thanks @mbarlow12!

[2018-12-22 17:05] #101 closed, assigned to mbarlow12

[2018-12-22 22:02] arouinfar commented on #99
That all sounds reasonable to me @mbarlow12.

I noticed the `atomicLegendScale` and `macroLegendScale` look a bit odd in the [string file](https://github.com/phetsims/coulombs-law/blob/master/coulombs-law-strings_en.json#L32). Only the units should be translatable, not the numbers.

[code]

Compare to the `cmValue` and `nmValue` in [wave-interference](https://github.com/phetsims/wave-interference/

[2018-12-22 22:11] arouinfar commented on #84
Looks great in rc.9!

[2018-12-22 22:11] #84 closed, assigned to mbarlow12

[2018-12-22 22:18] arouinfar commented on #100
Since @jessegreenberg verified this issue in https://github.com/phetsims/scenery-phet/issues/452#issuecomment-449506128 and @lmulhall-phet checked this off in rc.9, I will go ahead and close. I am also unable to reproduce in rc.9.

[2018-12-22 22:18] #100 closed, assigned to mbarlow12

[2018-12-22 22:19] #97 closed, assigned to mbarlow12

[2018-12-22 22:25] arouinfar commented on #96
This was tested again in the last rounds of rc testing, and it doesn't look like there were any issues. I'm going to go ahead and close this, but if the problem resurfaces, we can always reopen.

[2018-12-22 22:25] #96 closed, assigned to mbarlow12, KatieWoe

[2018-12-22 22:40] arouinfar commented on #64
QA credits have been alphabetized and updated to add testers from rc.6 onwards.

[2018-12-22 22:40] #64 closed, assigned to KatieWoe

[2018-12-22 22:44] arouinfar commented on #94
This sim has been through a few additional rounds of QA testing since this issue was first reported, and no issues were reported with closing the keyboard dialog.

I am fairly confident that @JRomero0613 was encountering the intended behavior (esc only closes dialog when keyboard focus is on the close button), so closing.

[2018-12-22 22:44] #94 closed, assigned to JRomero0613

[2018-12-22 23:03] arouinfar opened #104 "Update screenshots before 1.0"
Consolidating #98 and #102 here.

Given the changes in #101 and #87, all three screenshots need to be retaken. Additionally, we decided to use the Atomic Scale screen as the main screenshot, so the screenshot ordering has been shuffled.

@mbarlow12 before publishing 1.0 can you replace the screenshots with these? I am unable to replace images through the web interface, so I cannot commit them myse

[2018-12-22 23:03] arouinfar commented on #98
Moved to #104, closing.

[2018-12-22 23:03] #98 closed, assigned to KatieWoe

[2018-12-22 23:04] arouinfar commented on #102
Moved to #104, closing.

[2018-12-22 23:04] #102 closed, assigned to KatieWoe

[2018-12-22 23:38] arouinfar commented on #103
I like this suggestion @kathy-phet! We could add a semi-transparent rectangle that matches the background color behind the entire force string (not just the value).
![image](https://user-images.githubusercontent.com/8419308/50379483-f6671800-0607-11e9-9759-fe9d71c888ad.png)

I think this is a change we should make across all ISLC sims, not just Coulomb's Law. Leaving self-assigned to open an issue

[2018-12-24 17:40] mbarlow12 commented on #104
Can do! Thanks, @arouinfar.

[2018-12-27 18:09] mbarlow12 commented on #99
@arouinfar I think the use case is  a little different. Those patterns are reused throughout the wave interference sim with varying values (e.g. see the double slit screen control panel). Since the string for the CL legend never changes, it seems unnecessary to dynamically fill it with a constant value.

I'd say it's more similar to the millisecond or femtosecond conversion strings:
[code]

[2018-12-27 18:58] mbarlow12 commented on #99
@arouinfar I went forward with publishing the sim as-is since there appears to be precedent for not using patterns for static strings.

[2018-12-27 19:01] arouinfar commented on #104
Looks good in master and 1.0 @mbarlow12. Thanks!

[2018-12-27 19:01] #104 closed, assigned to arouinfar

[2018-12-27 19:14] arouinfar commented on #99
Thanks for the clarification @mbarlow12. It seemed odd that the numbers were included in the string to be translated, but the secondConversion strings are an interesting parallel.

[2018-12-27 19:14] #99 closed, assigned to arouinfar

[2019-01-02 21:05] arouinfar commented on #103
I opened the above issue in ISLC repo, so this can be closed.

[2019-01-02 21:05] #103 closed, assigned to arouinfar

[2019-01-10 16:38] zepumph opened #105 "Error: getDistanceIndex MUST be implemented in subtypes."
Assigning over to @mbarlow12

[code]

[2019-01-10 17:04] mbarlow12 commented on #105
Commented out the error, which will need to be reverted when CL is instrumented. Temp fix so that it passes CT.

[2019-01-10 21:40] zepumph commented on #105
What is the long term plan for a11y instrumentation for CL. I don't think it is high on the list for plans in early 2019. Can we do something a bit more longer term?

[2019-01-10 21:41] zepumph commented on #105
IDK maybe that is good for now. Up to you if you think there is an easy improvement.

[2019-01-10 23:08] mbarlow12 commented on #105
One of the difficult aspects of these sims was trying to implement inheritance since so much of the a11y language is the same across the repos. The idea with those assertions is to ensure that child types handle the logic of translating model values to common descriptive text (e.g. force ranges are wildly different across the sims but should all translate to the same qualitative descriptions).

Im

[2019-01-10 23:25] zepumph commented on #105
Indeed! Thank you for the heads up and explanations. With that in mind this does seem best to me for now. Anything else here?

[2019-01-15 19:08] mbarlow12 commented on #105
Don't think so—all good.

[2019-01-18 01:00] #105 closed, assigned to zepumph

[2019-01-23 23:36] arouinfar commented on #7
@ariel-phet the remaining checklist items are yours.

[2019-01-24 00:03] KatieWoe opened #106 "CT running lint-all task"
[code]

[2019-01-24 03:53] pixelzoom commented on #106
Fixed, closing.

[2019-01-24 03:53] #106 closed, assigned to mbarlow12

[2019-02-20 01:45] #7 closed, assigned to ariel-phet

[2019-04-17 20:15] KatieWoe opened #107 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56317867-0bb60400-611b-11e9-8d9e-f18ab3d1

[2019-04-17 20:15] #107 closed, assigned to nobody

[2019-07-01 19:37] zepumph commented on #79
@jessegreenberg can this branch be deleted?

[2019-07-01 21:42] jessegreenberg commented on #79
Thanks, yes I am sure it can be. I don't see any changes on the branch anyway other than updates to dependencies.json, I am not clear now what was tested.

[2019-07-01 21:46] jessegreenberg commented on #79
Branch a11yTest is no more.

[2019-07-02 15:43] KatieWoe opened #108 "CT phetioID already registered"
[code]

[2019-07-02 19:46] zepumph commented on #108
Yes thank you. This was from and fix as part of https://github.com/phetsims/inverse-square-law-common/issues/66

[2019-07-02 19:46] #108 closed, assigned to zepumph

[2019-07-02 20:04] jessegreenberg opened #109 "Pusher images look incorrect"
Noticed in https://github.com/phetsims/inverse-square-law-common/issues/73  but caused by https://github.com/phetsims/gravity-force-lab-basics/issues/120.  The pushers look like they are pushing harder than they did in the 1.0 release of this sim. The commit that changed this was https://github.com/phetsims/coulombs-law/commit/35ad0608840ab146746cb8a67b69bc32a7163d8f, which removed
[code]

and use

[2019-07-02 21:39] zepumph commented on #109
@jessegreenberg this was a big oops on my part. Clearly I wasn't testing CL quite well enough then. Thanks for the issue! I found that it made the most sense to override min/max helper functions for the CL model to support values that can be negative. That got things working better.

I tested this by loading the requiresjs in a parallel tab to the published version. I was able to get the puller im

[2019-07-03 16:02] jessegreenberg commented on #109
Looks really great, thanks for the quick fix!

[2019-07-03 16:02] #109 closed, assigned to jessegreenberg

[2019-08-06 14:55] KatieWoe opened #110 "CT API mismatches present"
[code]

[2019-08-06 20:09] zepumph commented on #110
From commits in https://github.com/phetsims/gravity-force-lab/issues/76. Closing

[2019-08-06 20:09] #110 closed, assigned to zepumph

[2019-09-26 05:34] zepumph opened #111 "Use default layout bounds"
Should be done from `CoulombsLawCommonView`.

[2019-10-11 14:49] pixelzoom opened #112 "CT: Assertion failed: at least one source expected"
This started on 10/10/19 @ 11:21 pm,  and has been present in every CT run since.

[code]

[2019-10-30 16:17] KatieWoe opened #113 "CT g.tandem.createTandem is not a function and others"
[code]

[2019-11-20 15:40] KatieWoe opened #114 "CT api mismatches"
[code]

[2019-11-20 17:35] zepumph commented on #114
Thanks for this. I forgot to update the api files.

[2019-11-20 17:35] #114 closed, assigned to zepumph

[2019-11-20 17:36] zepumph commented on #112
Fixed by https://github.com/phetsims/coulombs-law/commit/05376aa63299f2546be6f42107b99a1e8825357e, thank you for the report.

[2019-11-20 17:36] #112 closed, assigned to nobody

[2019-11-20 21:31] zepumph commented on #113
This hasn't been reproduced in many days on CT. I can't reproduce locally either. Closing

[2019-11-20 21:31] #113 closed, assigned to zepumph

[2020-01-02 20:46] KatieWoe opened #115 "CT p.onGrab is not a function"
[code]

[2020-01-02 23:32] zepumph commented on #115
Thanks for the issue @KatieWoe. For a long time I was trying to guard CL against interactive description changes in ISCLRulerNode I was doing for GFL. This was the straw that broke the camel's back. I decided to create a full stubbed ruler describer in CL with all the methods that ISLCRulerNode calls. This should now be fixed, and easily adjusted in the future too. Closing

[2020-01-02 23:32] #115 closed, assigned to zepumph

[2020-02-19 03:52] pixelzoom opened #116 "CT: class constructor ISLCObjectControlPanel cannot be invoked without 'new'"
This is failing because INVERSE_SQUARE_LAW/ISLCObjectControlPanel was converted to ES6, but its subclass  COULOMBS_LAW/ChargeControl was not converted.   This is blocking testing and commits of changes to ABSwitch https://github.com/phetsims/sun/issues/559, so I guess I'm going to handle it.

[code]

[2020-02-19 03:59] pixelzoom commented on #116
Fixed in above commit. @zepumph please review.

[2020-02-19 04:29] zepumph commented on #116
Thanks! This looks great. Sorry about that.

[2020-02-19 04:29] #116 closed, assigned to zepumph

[2020-03-18 00:58] zepumph opened #117 "Move a11y strings to json file"
from https://github.com/phetsims/chipper/issues/795

[2020-03-18 01:02] zepumph commented on #117
This one was simple, as it was only for the keyboard help dialog. Closing

[2020-03-18 01:02] #117 closed, assigned to nobody

[2020-06-03 14:50] KatieWoe opened #118 "CT cannot read property get of undefined"
[code]

[2020-06-03 18:09] zepumph commented on #118
Looks to be a duplicate of https://github.com/phetsims/gravity-force-lab/issues/267. Closing

[2020-06-03 18:09] #118 closed, assigned to zepumph

[2020-07-16 15:36] terracoda opened #119 "Reset All button before Control Area heading in PDOM"
While reviewing HomeScreen.md in https://github.com/phetsims/joist/issues/496 I noticed for this sim the Reset All button was just before the Control Area heading.

Please see comment https://github.com/phetsims/joist/issues/496#issuecomment-659488581

This is not the case in RaP, so it might be an issue with this sim only.

Mentioning @zepumph, so he can assign someone to fix this when needed.
It

[2020-09-02 17:36] arouinfar opened #120 "Increase size of arrow heads"
The size of the arrow heads was increased in https://github.com/phetsims/gravity-force-lab-basics/issues/223.

Opening this issue so we remember that this is a change that hasn't been deployed yet.

[2020-10-12 21:05] pixelzoom opened #121 "Screen, ScreenView, and model class names don't follow PhET naming conventions"
Noted while converting ScreenView subclasses to `class` for https://github.com/phetsims/tasks/issues/1044.

Screen, ScreenView, and model classes do not follow PhET naming conventions.  Their prefix should be the screen name.  And for Screens and ScreenViews, their suffix should be "Screen" and "ScreenView" respectively.

Here are the name changes that follow PhET conventions:

[code]

This bogus

[2020-10-21 15:17] KatieWoe opened #122 "CT cannot read property addToBack of undefined"
[code]

[2020-10-21 15:23] KatieWoe commented on #122
Duplicate of https://github.com/phetsims/utterance-queue/issues/15. Closing

[2020-10-21 15:23] #122 closed, assigned to zepumph

[2021-03-02 17:20] KatieWoe opened #123 "CT value failed isValidValue -0.01"
[code]

[2021-03-08 19:19] zepumph commented on #123
Covered by https://github.com/phetsims/inverse-square-law-common/issues/83

[2021-03-08 19:27] zepumph commented on #123
Fixed by https://github.com/phetsims/inverse-square-law-common/commit/5115d720fec482959037568f454a4ace745590c9

[2021-03-08 19:27] #123 closed, assigned to zepumph

[2021-04-12 16:34] KatieWoe opened #124 "CT passed-in thumbNode must have the correct tandem"
[code]

[2021-04-12 18:00] zepumph commented on #124
Looks like the same trouble as in https://github.com/phetsims/sun/issues/694.

[2021-04-12 18:25] zepumph commented on #124
Fixed in a bad way. Closing, to be better sorted over in the general issue.

[2021-04-12 18:25] #124 closed, assigned to zepumph

[2021-04-13 19:15] pixelzoom opened #125 "'numberControl' tandem name is duplicated"
From https://github.com/phetsims/sun/issues/694#issuecomment-818987136:

Yikes.  Things are even worse than I thought in ChargeControl.js.  Again:

[code]

That `'numberControl'` literal must match the literal over in ISLCObjectControlPanel.js:

[code]

Change one of these and the tandem hierachy is broken.

There are 3 problems here:
* inherently ugly method of injecting a tandem name into a subc

[2021-04-20 22:41] zepumph commented on #79
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:41] zepumph commented on #52
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:42] zepumph commented on #51
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:42] zepumph opened #126 "branch: coulombs-law-test"
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:43] zepumph opened #127 "branch: development"
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-23 16:49] zepumph commented on #79
Deleted

[2021-04-23 16:49] #79 closed, assigned to jessegreenberg

[2021-04-23 16:50] zepumph commented on #51
Deleted

[2021-04-23 16:50] #51 closed, assigned to mbarlow12

[2021-04-23 16:50] zepumph commented on #126
Deleted

[2021-04-23 16:50] #126 closed, assigned to nobody

[2021-04-23 16:50] zepumph commented on #127
Deleted

[2021-04-23 16:50] #127 closed, assigned to nobody

[2021-04-23 17:00] zepumph commented on #52
Deleted

[2021-04-23 17:00] #52 closed, assigned to mbarlow12

[2021-06-01 19:22] terracoda commented on #43
On master, everything in this sim has a label, except for the Charge 1 and Charge 2 sliders.

I noticed that the distance is measured in 100ths of meters rather than centimeters, but maybe that's intentional.

[2021-06-01 19:25] terracoda commented on #43
And there are units mentioned for the Charge sliders, just numeric values.

[2021-06-01 19:46] terracoda commented on #43
To flesh out a minimal PDOM hierarchy (labels and helptext only), this sim needs the following:
1. Help text for Charged Spheres position sliders. I suggest:
    - Centers of charged spheres, 0.03 meters apart. Move spheres, closer or farther from each other.
    - OR JUST:
    - Move charged spheres closer or farther from each other. (same as the GFLB and GFL)
2. The names of charged spheres q1 a

[2021-06-01 19:53] terracoda opened #128 "Measure distance ruler disappears when using JC hot key"
The ruler in this sim should work the same as the ruler in Gravity Force Lab (regular) which is accessible with keyboard and on iOS VoiceOver.

Currently, there are some bugs with keyboard interaction on macOs in Safari.

The ruler disappeared from view when I used the JC hot key to align the start of the ruler with the center of the q1 charged sphere.

I have not tested on mobile.

Designers, sho

[2021-06-01 19:54] terracoda commented on #128
Noting these issues in case there is an upcoming maintenance release.

[2021-08-18 15:31] KatieWoe opened #129 "CT build failed with status code 1"
[code]

[2021-08-19 14:12] zepumph commented on #129
Looks like this was solved over in https://github.com/phetsims/dot/issues/109 with https://github.com/phetsims/dot/commit/e585d101f7b238f25072baa3f2d38e55cc63293c.

[2021-08-19 14:13] #129 closed, assigned to zepumph

[2021-11-23 16:52] KatieWoe opened #130 "CT the requested module does not provide an export named default"
[code]

[2021-12-02 18:44] zepumph commented on #130
https://github.com/phetsims/chipper/issues/1156 has fixed this.

[2021-12-02 18:44] #130 closed, assigned to zepumph

[2022-02-09 17:41] jessegreenberg commented on #128
I just noticed this while working on https://github.com/phetsims/scenery/issues/1354. I tested gravity-force-lab and it is not an issue there even though the hotkey is implemented in inverse-square-law-common.

[2022-02-10 13:51] terracoda commented on #128
A lot of work has gone into alternative input since CL was published with that feature. It might be missing some upgrades that GFL already has - maybe even just in the HTML code and the HTML and ARIA attribute. Like I am sure CL's rule does not have an accessible name through `aria-roledescription`, and the web application role might be implemented differently.

[2022-05-25 16:59] KatieWoe opened #131 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-05-26 16:23] zepumph commented on #131
Tracked and fixed in https://github.com/phetsims/sun/issues/761, closing.

[2022-05-26 16:23] #131 closed, assigned to zepumph

[2022-10-05 21:03] jessegreenberg opened #132 "Dragging a puller shifts the object upon move"
If you drag an object by the puller the initial translation gets way offset and the puller is detached from the mouse. It is as though this clickOffset may have changed, so Ill bet its actually a problem for all ISLC sims

[code]

[2022-10-05 21:04] jessegreenberg commented on #132
Yes, I see this for other ISLC sims, moving to that repo.